//  Sizing
//  ##########
$for-container-xlarge-width: 1600px !default;
$for-container-large-width: 1000px !default;
$for-container-medium-width: 940px !default;
$for-container-small-all-width: 100% !default;
$for-container-small-width: $for-container-small-all-width !default;
$for-container-xsmall-width: $for-container-small-all-width !default;