@if($for-output-html-module-container) {
    .#{$for-output-prefix}container {
        @include for-bp-smx {
            width: $for-container-xsmall-width;
        }
        
        @include for-bp-sm {
            width: $for-container-small-width;
        }
        
        @include for-bp-md {
            width: $for-container-medium-width;
        }

        @include for-bp-lg {
            width: $for-container-large-width;
        }

        @include for-bp-lgx {
            width: $for-container-xlarge-width;
        }
    }
}