////
/// @group Container
/// @author Mustard-UI@v1, Michael Becker
////

@each $name, $size in $container-sizes {
    ///
    .container-#{$name} {
        max-width: $size;
    }
}

///
.container {
    margin-left: auto;
    margin-right: auto;
}

/// @deprecated use `container-fullwidth`
.container-fixed {
    width: 100%;
}

///
.container-fullwidth {
    width: 100%;
}
