////
/// Container
/// ================
/// basic selector: .for-container
/// @group Container
/// @author Michael Becker
////

// Sizing
// ##########

/// @prop {Size} $for-container-lgx-width [1600px] - width of the container on bg lgx
$for-container-lgx-width : 1600px !default;
/// @prop {Size} $for-container-lg-width [1000px] - width of the container on bg lg
$for-container-lg-width : 1000px !default;
/// @prop {Size} $for-container-md-width [940px] - width of the container on bg md
$for-container-md-width : 940px !default;
/// @prop {Size} $for-container-sm-width [100%] - width of the container on bg sm
$for-container-sm-width : 100% !default;
/// @prop {Size} $for-container-smx-width [100%] - width of the container on bg smx
$for-container-smx-width : 100% !default;