////
/// dual-ring loading animation
/// @group Component:Loading
/// @author https://github.com/loadingio/css-spinner/
/// license CC-0
////

///
$loading-ring-width: 6px;
///
$loading-size: 48px;
///
$loading-ring-width-dense: 3px;
///
$loading-size-dense: 30px;
///
$loading-color: $color-gray-600;
