@if($for-output-style-html-part) {
    .for-container {
        @include for-bp-small-all {
            width: $for-container-small-all-width;
        }
        
        @include for-bp-xsmall {
            width: $for-container-xsmall-width;
        }
        
        @include for-bp-small {
            width: $for-container-small-width;
        }
        
        @include for-bp-medium {
            width: $for-container-medium-width;
        }

        @include for-bp-large {
            width: $for-container-large-width;
        }

        @include for-bp-xlarge {
            width: $for-container-xlarge-width;
        }
    }
}