////
/// @group Buttons
/// @author Mustard-UI@v1, Michael Becker
////

/// the styling for the button base element, without states (e.g. no `hover` included)
@mixin btnBase {
    display: inline-block;
    padding: $button-padding;
    width: auto;
    background: $button-background-color;
    overflow: visible;
    appearance: none;
    transition: all .1s ease-out;

    font-size: $button-font-size;
    font-weight: $button-font-weight;
    letter-spacing: $button-letter-spacing;
    color: inherit;
    text-decoration: none;
    text-transform: $button-text-transform;
    white-space: nowrap;

    border-radius: $button-radius;
    border-style: solid;
    border-width: $button-border-width;
    border-color: inherit;
    line-height: $button-line-height;

    @if $button-shadow {
        box-shadow: elevation(1);
    }
}

/// the styling for `focus`/`hover`/`active`/`disabled` pseudo elements
@mixin btnStates {
    &:focus {
        outline: none;
    }

    &:focus,
    &:hover {
        opacity: 0.85;
        cursor: pointer;
        transform: scale(1.025);

        @if $button-shadow {
            box-shadow: elevation(2);
        }
    }

    &:active {
        opacity: 1;
        transform: scale(1);
    }

    &:disabled,
    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

/// the full btn styling
@mixin btn {
    @include btnBase;
    @include btnStates;
}
