
///
$button-radius: 4px !default;
///
$button-shadow: false !default;
///
$button-text-color: $color-white !default;
///
$button-colors: (
    'primary' : $brand-color,
    'success' : $color-green-500,
    'info' : $color-gray-500,
    'warning' : $color-amber-600,
    'danger' : $color-red-500
) !default;

///
@mixin btn {
    display: inline-block;
    padding: space(1) space(2);
    width: auto;
    background: none;
    overflow: visible;
    appearance: none;
    transition: all .1s ease-out;

    font-size: 0.9em;
    font-weight: 600;
    color: inherit;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    border-radius: $button-radius;
    border-style: solid;
    border-width: 1px;

    @if $button-shadow {
        box-shadow: elevation(1);
    }

    &:focus {
        outline: none;
    }

    &:focus,
    &:hover {
        opacity: 0.85;
        cursor: pointer;
        transform: scale(1.025);

        @if $button-shadow {
            box-shadow: elevation(2);
        }
    }

    &:active {
        opacity: 1;
        transform: scale(1);
    }

    &:disabled,
    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
