////
/// @group Buttons
/// @author Michael Becker
////

///
#{$button-class}-group {
    display: flex;
    align-items: stretch;
    align-content: center;
    justify-content: flex-start;

    #{$button-class}:first-child:not(:last-child):not(#{$outlined-class-name}-rect) {
        border-radius: $button-group-radius 0 0 $button-group-radius;
    }

    #{$button-class}:last-child:not(:first-child):not(#{$outlined-class-name}-rect) {
        border-radius: 0 $button-group-radius $button-group-radius 0;
    }

    #{$button-class}:not(:first-child):not(:last-child) {
        border-radius: 0;
    }

    &#{$button-class}-group-round {
        #{$button-class}:first-child:not(:last-child):not(#{$outlined-class-name}-rect) {
            border-radius: $button-group-round-radius 0 0 $button-group-round-radius;
        }

        #{$button-class}:last-child:not(:first-child):not(#{$outlined-class-name}-rect) {
            border-radius: 0 $button-group-round-radius $button-group-round-radius 0;
        }
    }
}
