////
/// @group Buttons
/// @author Michael Becker
////

///
#{$button-class}-ic {
    position: relative;
    display: inline-flex;
    border-radius: 50%;
    padding: $button-icon-padding;
    flex-shrink: 0;

    > * {
        width: $button-icon-size;
        height: $button-icon-size;
        z-index: 1;
    }
}

///
#{$button-class}-ic-lg {
    padding: $button-icon-lg-padding;

    > * {
        width: $button-icon-lg-size;
        height: $button-icon-lg-size;
    }
}

///
#{$button-class}-ic-sm {
    padding: $button-icon-sm-padding;

    > * {
        width: $button-icon-sm-size;
        height: $button-icon-sm-size;
    }
}
