////
/// @group Buttons
/// @author Michael Becker
////

///
#{$button-class}-group {
    display: flex;
    align-items: stretch;
    align-content: center;
    justify-content: flex-start;

    ///
    :first-child:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &#{$button-class}-ic:not(#{$outlined-class-name}-rect) {
            border-top-left-radius: $button-border-radius;
            border-bottom-left-radius: $button-border-radius;
        }
    }

    ///
    :last-child:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &#{$button-class}-ic:not(#{$outlined-class-name}-rect) {
            border-top-right-radius: $button-border-radius;
            border-bottom-right-radius: $button-border-radius;
        }
    }

    ///
    :not(:first-child):not(:last-child) {
        border-radius: 0;
    }

    ///
    &#{$button-class}-group-round {
        :first-child:not(:last-child) {
            &:not(#{$outlined-class-name}-rect) {
                border-top-left-radius: $button-round-radius;
                border-bottom-left-radius: $button-round-radius;
            }
        }

        :last-child:not(:first-child) {
            &:not(#{$outlined-class-name}-rect) {
                border-top-right-radius: $button-round-radius;
                border-bottom-right-radius: $button-round-radius;
            }
        }
    }

    ///
    &-vertical {
        @include button-group-vertical();

        @each $name, $bp in $button-group-vertical-bp {
            @media #{$bp} {
                &-#{$name} {
                    @include button-group-vertical();
                }
            }
        }
    }
}
