////
/// @group Buttons
/// @author Mustard-UI@v1, Michael Becker
////

///
$button-border-radius: $base-border-radius !default;
/// @deprecated use `button-border-radius` instead
$button-radius: $button-border-radius !default;
///
$button-border-width: $base-border-width !default;
///
$button-background-color: none !default;
///
$button-shadow: false !default;
///
$button-text-color: $color-light !default;
///
$button-text-transform: uppercase !default;

///
$button-colors: (
    'primary' : $color-primary,
    'secondary' : $color-secondary,
    'success' : $color-success,
    'info' : $color-info,
    'warning' : $color-warning,
    'danger' : $color-danger,
) !default;

///
$button-outline-border-style: solid !default;
///
$button-outline-background-color: $button-background-color !default;

///
$button-class: ".btn" !default;
///
$button-selector: "#{$button-class}" !default;
///
$button-padding: space(1) space(2) !default;

///
$button-font-size: 0.9rem !default;
///
$button-font-weight: 600 !default;
///
$button-line-height: 1.6825em !default;
///
$button-letter-spacing: 0.0125em !default;

///
$button-sm-padding: space('05') space(2) !default;
///
$button-sm-font-size: 0.875rem !default;
///
$button-sm-letter-spacing: $button-letter-spacing !default;

///
$button-lg-padding: space(1) space(4) !default;
///
$button-lg-font-size: 1.125rem !default;

///
$button-round-radius: $button-border-radius * 4 !default;

///
$button-icon-size: 28px !default;
///
$button-icon-padding: 3px !default;

///
$button-icon-sm-size: 20px !default;
///
$button-icon-sm-padding: 3px !default;

///
$button-icon-lg-size: $button-icon-size !default;
///
$button-icon-lg-padding: 6px !default;
