////
/// @group Buttons
/// @author Mustard-UI@v1, Michael Becker
////

///
$button-radius: 4px !default;
///
$button-border-width: 1px !default;
///
$button-outline-border-style: solid !default;
///
$button-shadow: false !default;
///
$button-text-color: $color-white !default;
///
$button-colors: (
    'primary' : $brand-color,
    'success' : $color-green-500,
    'info' : $color-gray-500,
    'warning' : $color-amber-600,
    'danger' : $color-red-500
) !default;

///
$button-class: ".btn" !default;
///
$button-selector: "#{$button-class}, button, input[type='button'], input[type='reset'], input[type='submit']" !default;
///
$button-padding: space(1) space(2) !default;
///
$button-font-size: 0.9rem !default;
///
$button-font-weight: 600 !default;
///
$button-sm-padding: space('05') space(2) !default;
///
$button-sm-font-size: 0.75rem !default;
///
$button-lg-padding: space(2) space(4) !default;
///
$button-lg-font-size: 1rem !default;
///
$button-round-radius: 24px !default;
///
$button-icon-size: 32px !default;
///
$button-icon-padding: 2px !default;
///
$button-icon-small-size: 24px !default;
///
$button-icon-small-padding: 3px !default;
