$for-output-style-all: true !default;
$for-output-style-html-part: $for-output-style-all !default;
$for-output-style-semantic: $for-output-style-all !default;
$for-output-style-enhance: $for-output-style-all !default;

$fa-font-path: "libs/font-awesome/fonts" !default;