////
/// @group Global-Style
/// @author Michael Becker
////

///
html {
    box-sizing: border-box;
}

///
*, *::after, *::before {
    box-sizing: inherit;
}

///
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

///
body {
    display: flex;
    flex-direction: column;
}
