////
/// @group Code
/// @author Michael Becker
////
@use 'sass:map';

///
$code-bg-color: $bg-contained !default;
///
$code-border-color: $color-primary !default;
///
$code-font-color: map.get($text-colors, 'strong') !default;
///
$code-font-size: 0.9rem !default;
///
$code-border-width: $base-border-thick-width !default;
///
$code-pre-selector: pre !default;
