////
/// @group Code
/// @author Michael Becker
////

///
$code-bg-color: $color-gray-100 !default;
///
$code-border-color: $brand-color !default;
///
$code-font-color: $color-gray-900 !default;
///
$code-font-size: 0.9rem !default;
///
$code-border-width: 4px !default;
///
$code-pre-selector: pre !default;

///
#{$code-pre-selector} {
    display: block;
    padding: space(1) space(2);
    border-left: $code-border-width solid $code-border-color;
    background: $code-bg-color;
    font-family: $font-family-mono;
    color: $code-font-color;
    white-space: normal;
    overflow-x: auto;
}

///
code {
    font-size: $code-font-size;
    background: $code-bg-color;
    color: $code-font-color;
    font-family: $font-family-mono;
    white-space: pre;
    padding: space(1)
}

///
#{$code-pre-selector} > code {
    padding: 0;
}
