////
/// HTML-Module: footer
/// ================
/// basic selector: .for-footer, something for the foot of the page, so it doesn't get cold feet
/// @group HTML-Module:footer
/// @author Michael Becker
////

// Background
// ##########

/// @prop {Map|Url|Color} $for-footer-background [$for-grayscale-base-p2] - background-map or simply color/uri in html-module: footer
$for-footer-background: $for-grayscale-base-p2 !default;
/// @prop {Size} $for-footer-background-size [auto] - background-size in html-module: footer
$for-footer-background-size: auto !default;

// Font Color
// ##########

/// @prop {Color} $for-footer-font-color [$for-general-font-color] - general font-color in html-module: footer
$for-footer-font-color: $for-general-font-color !default;
/// @prop {Color} $for-footer-link-font-color [$for-link-font-color] - font-color for link in html-module: footer
$for-footer-link-font-color: $for-link-font-color !default;
/// @prop {Color} $for-footer-link-hover-font-color [$for-link-hover-font-color] - font-color for link:hover in html-module: footer
$for-footer-link-hover-font-color: $for-link-hover-font-color !default;

// Font Size
// ##########

/// @prop {Size} $for-footer-font-size [$for-general-font-size] - general font-size in html-module: footer
$for-footer-font-size: $for-general-font-size !default;
/// @prop {Size} $for-footer-link-font-size [$for-link-font-size] - font-size for link in html-module: footer
$for-footer-link-font-size: $for-link-font-size !default;
/// @prop {Size} $for-footer-link-hover-font-size [$for-link-hover-font-size] - font-size for link:hover in html-module: footer
$for-footer-link-hover-font-size: $for-link-hover-font-size !default;

// Font Style
// ##########

/// @prop {Style} $for-footer-font-style [$for-general-font-style] - general font-style in html-module: footer
$for-footer-font-style: $for-general-font-style !default;
/// @prop {Style} $for-footer-link-font-style [$for-link-font-style] - font-style for link in html-module: footer
$for-footer-link-font-style: $for-link-font-style !default;
/// @prop {Style} $for-footer-link-hover-font-style [$for-link-hover-font-style] - font-style for link:hover in html-module: footer
$for-footer-link-hover-font-style: $for-link-hover-font-style !default;

// Font Family
// ##########

/// @prop {String} $for-footer-font-family [$for-general-font-family] - general font-family in html-module: footer
$for-footer-font-family: $for-general-font-family !default;
/// @prop {String} $for-footer-link-font-family [$for-link-font-family] - font-family for link in html-module: footer
$for-footer-link-font-family: $for-link-font-family !default;
/// @prop {String} $for-footer-link-hover-font-family [$for-link-hover-font-family] - font-family for link:hover in html-module: footer
$for-footer-link-hover-font-family: $for-link-hover-font-family !default;

// Font Weight
// ##########

/// @prop {Size} $for-footer-font-weight [$for-general-font-weight] - general font-weight in html-module: footer
$for-footer-font-weight: $for-general-font-weight !default;
/// @prop {Size} $for-footer-link-font-weight [$for-link-font-weight] - font-weight for link in html-module: footer
$for-footer-link-font-weight: $for-link-font-weight !default;
/// @prop {Size} $for-footer-link-hover-font-weight [$for-link-hover-font-weight] - font-weight for link:hover in html-module: footer
$for-footer-link-hover-font-weight: $for-link-hover-font-weight !default;

// Font Variant
// ##########

/// @prop {String} $for-footer-font-variant [$for-general-font-variant] - general font-variant in html-module: footer
$for-footer-font-variant: $for-general-font-variant !default;
/// @prop {String} $for-footer-link-font-variant [$for-link-font-variant] - font-variant for link in html-module: footer
$for-footer-link-font-variant: $for-link-font-variant !default;
/// @prop {String} $for-footer-link-hover-font-variant [$for-link-hover-font-variant] - font-variant for link:hover in html-module: footer
$for-footer-link-hover-font-variant: $for-link-hover-font-variant !default;

// Text Decoration
// ##########

/// @prop {String} $for-footer-text-decoration [$for-general-text-decoration] - general text-decoration in html-module: footer
$for-footer-text-decoration: $for-general-text-decoration !default;
/// @prop {String} $for-footer-link-text-decoration [$for-link-text-decoration] - text-decoration for link in html-module: footer
$for-footer-link-text-decoration: $for-link-text-decoration !default;
/// @prop {String} $for-footer-link-hover-text-decoration [$for-link-hover-text-decoration] - text-decoration for link:hover in html-module: footer
$for-footer-link-hover-text-decoration: $for-link-hover-text-decoration !default;

// Text Transform
// ##########

/// @prop {String} $for-footer-text-transform [$for-general-text-transform] - general text-transform in html-module: footer
$for-footer-text-transform: $for-general-text-transform !default;
/// @prop {String} $for-footer-link-text-transform [$for-link-text-transform] - text-transform for link in html-module: footer
$for-footer-link-text-transform: $for-link-text-transform !default;
/// @prop {String} $for-footer-link-hover-text-transform [$for-link-hover-text-transform] - text-transform for link:hover in html-module: footer
$for-footer-link-hover-text-transform: $for-link-hover-text-transform !default;

// Line Height
// ##########

/// @prop {String} $for-footer-line-height [$for-general-line-height] - general line-height in html-module: footer
$for-footer-line-height: $for-general-line-height !default;
/// @prop {String} $for-footer-link-line-height [$for-link-line-height] - line-height for link in html-module: footer
$for-footer-link-line-height: $for-link-line-height !default;

// Sizing
// ##########

/// @prop {} $for-footer-smx-height [auto] - footer height for bp smx in html-module: footer
$for-footer-smx-height: auto;
/// @prop {} $for-footer-sm-height [$for-footer-smx-height] - footer height for bp sm in html-module: footer
$for-footer-sm-height: $for-footer-smx-height !default;
/// @prop {} $for-footer-md-height [$for-footer-sm-height] - footer height for bp md in html-module: footer
$for-footer-md-height: $for-footer-sm-height !default;
/// @prop {} $for-footer-lg-height [$for-footer-md-height] - footer height for bp lg in html-module: footer
$for-footer-lg-height: $for-footer-md-height !default;
/// @prop {} $for-footer-lgx-height [$for-footer-lg-height] - footer height for bp lgx in html-module: footer
$for-footer-lgx-height: $for-footer-lg-height !default;

// Padding
// ##########

/// @prop {Size|Map} $for-footer-lgx-padding [$for-gutter-lgx] - padding for bp lgx in html-module: footer
$for-footer-lgx-padding: $for-gutter-lgx !default;
/// @prop {Size|Map} $for-footer-lg-padding [$for-gutter-lg] - padding for bp lg in html-module: footer
$for-footer-lg-padding: $for-gutter-lg !default;
/// @prop {Size|Map} $for-footer-md-padding [$for-gutter-md] - padding for bp md in html-module: footer
$for-footer-md-padding: $for-gutter-md !default;
/// @prop {Size|Map} $for-footer-sm-padding [$for-gutter-sm] - padding for bp sm in html-module: footer
$for-footer-sm-padding: $for-gutter-sm !default;
/// @prop {Size|Map} $for-footer-smx-padding [$for-gutter-smx] - padding for bp smx in html-module: footer
$for-footer-smx-padding: $for-gutter-smx !default;

// Margin
// ##########

/// @prop {Size|Map} $for-footer-lgx-margin [$for-gutter-lgx] - margin for bp lgx in html-module: footer
$for-footer-lgx-margin: $for-gutter-lgx !default;
/// @prop {Size|Map} $for-footer-lg-margin [$for-gutter-lg] - margin for bp lg in html-module: footer
$for-footer-lg-margin: $for-gutter-lg !default;
/// @prop {Size|Map} $for-footer-md-margin [$for-gutter-md] - margin for bp md in html-module: footer
$for-footer-md-margin: $for-gutter-md !default;
/// @prop {Size|Map} $for-footer-sm-margin [$for-gutter-sm] - margin for bp sm in html-module: footer
$for-footer-sm-margin: $for-gutter-sm !default;
/// @prop {Size|Map} $for-footer-smx-margin [$for-gutter-smx] - margin for bp smx in html-module: footer
$for-footer-smx-margin: $for-gutter-smx !default;

// Border
// ##########

/// @prop {Size|Map} $for-footer-smx-border [0] - border for bp smx in html-module: footer
$for-footer-smx-border: 0 !default;
/// @prop {Size|Map} $for-footer-sm-border [$for-footer-smx-border] - border for bp sm in html-module: footer
$for-footer-sm-border: $for-footer-smx-border !default;
/// @prop {Size|Map} $for-footer-md-border [$for-footer-sm-border] - border for bp md in html-module: footer
$for-footer-md-border: $for-footer-sm-border !default;
/// @prop {Size|Map} $for-footer-lg-border [$for-footer-md-border] - border for bp lg in html-module: footer
$for-footer-lg-border: $for-footer-md-border !default;
/// @prop {Size|Map} $for-footer-lgx-border [$for-footer-lg-border] - border for bp lgx in html-module: footer
$for-footer-lgx-border: $for-footer-lg-border !default;