//  Background
//  ##########
$for-header-background: #ffffff !default;
$for-header-background-size: auto !default;

//  Font Color
//  ##########
$for-header-font-color: $for-global-font-color !default;
$for-header-link-font-color: $for-link-font-color !default;
$for-header-link-hover-font-color: $for-header-link-font-color !default;

//  Font-Size
//  ##########
$for-header-font-size: $for-global-font-size !default;
$for-header-link-font-size: 13pt !default;
$for-header-link-hover-font-size: $for-header-link-font-size !default;

//  Font Family
//  ##########
$for-header-font-family: $for-global-font-family !default;
$for-header-link-font-family: $for-link-font-family !default;
$for-header-link-hover-font-family: $for-link-hover-font-family !default;

//  Font Weight
//  ##########
$for-header-font-weight: $for-font-weight-global !default;
$for-header-link-font-weight: $for-link-font-weight !default;
$for-header-link-hover-font-weight: bold !default;

//  Text Decoration
//  ##########
$for-header-text-decoration: $for-text-decoration-global !default;
$for-header-link-text-decoration: $for-link-text-decoration !default;
$for-header-link-hover-text-decoration: $for-link-hover-text-decoration !default;

//  Line Height
//  ##########
$for-header-line-height: $for-line-height-global !default;
$for-header-link-line-height: 30px !default;
$for-header-link-line-height-hover: $for-header-link-line-height !default;