@if($output-style-html-part) {
    .header {
        background: $header-background;
        background-size: $header-background-size;
    }

    .header {
        color: $header-font-color;
        font-size: $header-font-size;
        font-family: $header-font-family;
        font-weight: $header-font-weight;
        text-decoration: $header-text-decoration;
        line-height: $header-line-height;
        a {
            color: $header-link-font-color;
            font-size: $header-link-font-size;
            font-family: $header-link-font-family;
            font-weight: $header-link-font-weight;
            text-decoration: $header-link-text-decoration;
            line-height: $header-link-line-height;
            &:hover {
                color: $header-link-hover-font-color;
                font-size: $header-link-hover-font-size;
                font-family: $header-link-hover-font-family;
                font-weight: $header-link-hover-font-weight;
                text-decoration: $header-link-hover-text-decoration;
            }
        }
    }
}