//  Background
//  ##########
$for-sidebar-background: $for-global-color-primary;
$for-sidebar-primary-background: $for-sidebar-background;
$for-sidebar-secondary-background: $for-sidebar-background;

$for-sidebar-heading-background: $for-global-color-secondary;
$for-sidebar-heading-height: 30px;

//  Font Color
//  ##########
$for-sidebar-font-color-global: $for-global-color-secondary;
$for-sidebar-font-color-primary: $for-sidebar-font-color-global;
$for-sidebar-font-color-secondary: $for-sidebar-font-color-global;
$for-sidebar-font-color-global-link: $for-link-font-color;
$for-sidebar-font-color-primary-link: $for-sidebar-font-color-global-link;
$for-sidebar-font-color-secondary-link: $for-sidebar-font-color-global-link;
$for-sidebar-font-color-global-link-hover: $for-link-hover-font-color;
$for-sidebar-font-color-primary-link-hover: $for-sidebar-font-color-global-link-hover;
$for-sidebar-font-color-secondary-link-hover: $for-sidebar-font-color-global-link-hover;

//  Font-Size
//  ##########
$for-sidebar-font-size-global: $for-global-font-size;
$for-sidebar-font-size-primary: $for-sidebar-font-size-global;
$for-sidebar-font-size-secondary: $for-sidebar-font-size-global;
$for-sidebar-font-size-global-link: $for-link-font-size;
$for-sidebar-font-size-primary-link: $for-sidebar-font-size-global-link;
$for-sidebar-font-size-secondary-link: $for-sidebar-font-size-global-link;
$for-sidebar-font-size-global-link-hover: $for-link-hover-font-size;
$for-sidebar-font-size-primary-link-hover: $for-sidebar-font-size-global-link-hover;
$for-sidebar-font-size-secondary-link-hover: $for-sidebar-font-size-global-link-hover;

//  Font Family
//  ##########
$for-sidebar-font-family-global-link: $for-link-font-family;
$for-sidebar-font-family-primary-link: $for-sidebar-font-family-global-link;
$for-sidebar-font-family-secondary-link: $for-sidebar-font-family-global-link;
$for-sidebar-font-family-global-link-hover: $for-link-hover-font-family;
$for-sidebar-font-family-primary-link-hover: $for-sidebar-font-family-global-link-hover;
$for-sidebar-font-family-secondary-link-hover: $for-sidebar-font-family-global-link-hover;
$for-sidebar-font-family-global: $for-global-font-family;
$for-sidebar-font-family-primary: $for-sidebar-font-family-global;
$for-sidebar-font-family-secondary: $for-sidebar-font-family-global;

//  Font Weight
//  ##########
$for-sidebar-font-weight-global-link: $for-link-font-weight;
$for-sidebar-font-weight-primary-link: $for-sidebar-font-weight-global-link;
$for-sidebar-font-weight-secondary-link: $for-sidebar-font-weight-global-link;
$for-sidebar-font-weight-global-link-hover: $for-link-hover-font-weight;
$for-sidebar-font-weight-primary-link-hover: $for-sidebar-font-weight-global-link-hover;
$for-sidebar-font-weight-secondary-link-hover: $for-sidebar-font-weight-global-link-hover;
$for-sidebar-font-weight-global: $for-font-weight-global;
$for-sidebar-font-weight-primary: $for-sidebar-font-weight-global;
$for-sidebar-font-weight-secondary: $for-sidebar-font-weight-global;

//  Text Decoration
//  ##########
$for-sidebar-text-decoration-global-link: $for-link-text-decoration;
$for-sidebar-text-decoration-primary-link: $for-sidebar-text-decoration-global-link;
$for-sidebar-text-decoration-secondary-link: $for-sidebar-text-decoration-global-link;
$for-sidebar-text-decoration-global-link-hover: $for-link-hover-text-decoration;
$for-sidebar-text-decoration-primary-link-hover: $for-sidebar-text-decoration-global-link-hover;
$for-sidebar-text-decoration-secondary-link-hover: $for-sidebar-text-decoration-global-link-hover;
$for-sidebar-text-decoration-global: $for-text-decoration-global;
$for-sidebar-text-decoration-primary: $for-sidebar-text-decoration-global;
$for-sidebar-text-decoration-secondary: $for-sidebar-text-decoration-global;

//  Line Height
//  ##########
$for-sidebar-line-height-global-link: $for-link-line-height;
$for-sidebar-line-height-primary-link: $for-sidebar-line-height-global-link;
$for-sidebar-line-height-secondary-link: $for-sidebar-line-height-global-link;
$for-sidebar-line-height-global-link-hover: $for-link-line-height-hover;
$for-sidebar-line-height-primary-link-hover: $for-sidebar-line-height-global-link-hover;
$for-sidebar-line-height-secondary-link-hover: $for-sidebar-line-height-global-link-hover;
$for-sidebar-line-height-global: $for-line-height-global;
$for-sidebar-line-height-primary: $for-sidebar-line-height-global;
$for-sidebar-line-height-secondary: $for-sidebar-line-height-global;


// Sizing
// #########################################################
$for-sidebar-mobile-width: 100%;
$for-sidebar-desktop-width: 215px;

$for-sidebar-padding-outer: 10px;
$for-sidebar-margin-inner: 10px;

$for-sidebar-primary-position: left;//Possible: right, left or none
$for-sidebar-secondary-position: none;//Possible: right, left or none

$for-sidebar-elements-gap: 30px;