@mixin form-input-textbox-base($for-expand: true) {
    @if $for-expand {
        display: block;
        width: 100%;
    } @else {
        display: inline-block;
    }
    @include shadow(inset 4px 4px 10px 1px #e6e6e6);
    // Not in hover ->
    padding: $for-form-input-textbox-padding-top $for-form-input-textbox-padding-right $for-form-input-textbox-padding-bottom $for-form-input-textbox-padding-left;
    // <- Not in hover
    height: $for-form-input-textbox-height;
    background: $for-form-input-textbox-background;
    color: $for-form-input-textbox-font-color;
    font: {
        family: $for-form-input-textbox-font-family;
        size: $for-form-input-textbox-font-size;
        weight: $for-form-input-textbox-font-weight;
        style: $for-form-input-textbox-font-style;
    }
    text: {
        decoration: $for-form-input-textbox-text-decoration;
    }
    border: {
        top: {
            width: $for-form-input-textbox-border-top-width;
            style: $for-form-input-textbox-border-top-style;
            color: $for-form-input-textbox-border-top-color;
            left: {
                radius: $for-form-input-textbox-border-top-left-radius-inner $for-form-input-textbox-border-top-left-radius-left;
            }
            right: {
                radius: $for-form-input-textbox-border-top-right-radius-inner $for-form-input-textbox-border-top-right-radius-right;
            }
        }
        right: {
            width: $for-form-input-textbox-border-right-width;
            style: $for-form-input-textbox-border-right-style;
            color: $for-form-input-textbox-border-right-color;
        }
        bottom: {
            width: $for-form-input-textbox-border-bottom-width;
            style: $for-form-input-textbox-border-bottom-style;
            color: $for-form-input-textbox-border-bottom-color;
            left: {
                radius: $for-form-input-textbox-border-bottom-left-radius-inner $for-form-input-textbox-border-bottom-left-radius-left;
            }
            right: {
                radius: $for-form-input-textbox-border-bottom-right-radius-inner $for-form-input-textbox-border-bottom-right-radius-right;
            }
        }
        left: {
            width: $for-form-input-textbox-border-left-width;
            style: $for-form-input-textbox-border-left-style;
            color: $for-form-input-textbox-border-left-color;
        }
    }
    &:disabled {
        //TODO
    }   
}