////
/// @group Form
/// @author Mustard-UI@v1, Michael Becker

///
$input-selector: 'input[type="file"], input[type="color"], input[type="date"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="range"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"], input[type="text"], input[type="password"], select' !default;
///
$input-base-selector: 'input, select, fieldset' !default;
///
$input-fieldset-selector: 'fieldset' !default;
///
$input-option-selector: 'input[type="checkbox"], input[type="radio"]' !default;
///
$label-selector: 'label' !default;
///
$input-range-selector: 'input[type="range"]' !default;
///
$input-color-selector: 'input[type="color"]' !default;

///
$input-bg-color: $color-white !default;
///
$input-active-color: $brand-color !default;
///
$input-border-color: $color-gray-400 !default;
///
$input-invalid-color: $color-red-200 !default;
///
$input-error-text-color: $color-red-500 !default;
///
$input-placeholder-color: $color-gray-500 !default;

///
.validation-error {
    margin-top: 2px;
    font-size: 12px;
    color: $input-error-text-color;
}

///
#{$label-selector} {
    font-size: 0.875em;
    font-weight: 400;
}

///
#{$input-selector} {
    appearance: none;
    display: block;
    width: 100%;
    padding: space(1);
    font-size: 1em;
    font-weight: inherit;
    background: $input-bg-color;
    border-radius: 5px;
    border: 1px solid $input-border-color;
}

///
#{$input-base-selector} {
    &::placeholder {
        color: $input-placeholder-color;
    }

    &:focus {
        outline: none;
        border-color: $input-active-color;
    }

    &:invalid, &:invalid {
        border-color: $input-error-text-color;
    }
}

///
#{$input-fieldset-selector} {
    margin: 15px 0;
    padding: 15px;
    font-size: 14px;
    border: 1px solid $input-border-color;
    border-radius: 5px;

    legend {
        padding: 0 5px;
    }
}

///
#{$input-option-selector} {
    margin-right: 10px;
}

///
#{$input-range-selector} {
    appearance: range
}

///
#{$input-color-selector} {
    display: initial;
    padding: 0;
    height: 42px;
}
