//  Here belongs the standard design of forms
//
@mixin form-input-textbox-base($expand: true) {
    @if $expand {
        display: block;
        width: 100%;
    } @else {
        display: inline-block;
    }
    @include shadow(inset 4px 4px 10px 1px #e6e6e6);
    // Not in hover ->
    font-family: $form-input-textbox-font-family;
    padding: $form-input-textbox-padding-top $form-input-textbox-padding-right $form-input-textbox-padding-bottom $form-input-textbox-padding-left;
    // <- Not in hover
    height: $form-input-textbox-height;
    background: $form-input-textbox-background;
    color: $form-input-textbox-font-color;
    font-size: $form-input-textbox-font-size;
    font-weight: $form-input-textbox-font-weight;
    font-style: $form-input-textbox-font-style;
    text-decoration: $form-input-textbox-font-decoration;
    border-top-width: $form-input-textbox-border-width-top;
    border-right-width: $form-input-textbox-border-width-right;
    border-bottom-width: $form-input-textbox-border-width-bottom;
    border-left-width: $form-input-textbox-border-width-left;
    border-top-style: $form-input-textbox-border-style-top;
    border-right-style: $form-input-textbox-border-style-right;
    border-bottom-style: $form-input-textbox-border-style-bottom;
    border-left-style: $form-input-textbox-border-style-left;
    border-top-color: $form-input-textbox-border-color-top;
    border-right-color: $form-input-textbox-border-color-right;
    border-bottom-color: $form-input-textbox-border-color-bottom;
    border-left-color: $form-input-textbox-border-color-left;
    border-top-left-radius: $form-input-textbox-border-radius-top-left-top $form-input-textbox-border-radius-top-left-left;
    border-top-right-radius: $form-input-textbox-border-radius-top-right-top $form-input-textbox-border-radius-top-right-right;
    border-bottom-right-radius: $form-input-textbox-border-radius-bottom-right-bottom $form-input-textbox-border-radius-bottom-right-right;
    border-bottom-left-radius: $form-input-textbox-border-radius-bottom-left-bottom $form-input-textbox-border-radius-bottom-left-left;
    &:hover {
        background: $form-input-textbox-background-hover;
        color: $form-input-textbox-font-color-hover;
        font-size: $form-input-textbox-font-size-hover;
        font-weight: $form-input-textbox-font-weight-hover;
        font-style: $form-input-textbox-font-style-hover;
        text-decoration: $form-input-textbox-font-decoration-hover;
        border-top-width: $form-input-textbox-border-hover-width-top;
        border-right-width: $form-input-textbox-border-hover-width-right;
        border-bottom-width: $form-input-textbox-border-hover-width-bottom;
        border-left-width: $form-input-textbox-border-hover-width-left;
        border-top-style: $form-input-textbox-border-hover-style-top;
        border-right-style: $form-input-textbox-border-hover-style-right;
        border-bottom-style: $form-input-textbox-border-hover-style-bottom;
        border-left-style: $form-input-textbox-border-hover-style-left;
        border-top-color: $form-input-textbox-border-hover-color-top;
        border-right-color: $form-input-textbox-border-hover-color-right;
        border-bottom-color: $form-input-textbox-border-hover-color-bottom;
        border-left-color: $form-input-textbox-border-hover-color-left;
        border-top-left-radius: $form-input-textbox-border-radius-hover-top-left-top $form-input-textbox-border-radius-hover-top-left-left;
        border-top-right-radius: $form-input-textbox-border-radius-hover-top-right-top $form-input-textbox-border-radius-hover-top-right-right;
        border-bottom-right-radius: $form-input-textbox-border-radius-hover-bottom-right-bottom $form-input-textbox-border-radius-hover-bottom-right-right;
        border-bottom-left-radius: $form-input-textbox-border-radius-hover-bottom-left-bottom $form-input-textbox-border-radius-hover-bottom-left-left;
    }   
}
form {
    input{
        &[type=text] {
            @include form-input-textbox-base(false);
        }
        &[type=password] {
            @include form-input-textbox-base(false);
        }
        // HTML5 types, when no browser support fallback to type=text
        // ->
        &[type=color] {
            @include form-input-textbox-base(false);
        }
        &[type=date] {
            @include form-input-textbox-base(false);
        }
        &[type=datetime] {
            @include form-input-textbox-base(false);
        }
        &[type=datetime-local] {
            @include form-input-textbox-base(false);
        }
        &[type=email] {
            @include form-input-textbox-base(false);
        }
        &[type=month] {
            @include form-input-textbox-base(false);
        }
        &[type=number] {
            @include form-input-textbox-base(false);
        }
        &[type=range] {
            @include form-input-textbox-base(false);
        }
        &[type=search] {
            @include form-input-textbox-base(false);
        }
        &[type=tel] {
            @include form-input-textbox-base(false);
        }
        &[type=time] {
            @include form-input-textbox-base(false);
        }
        &[type=url] {
            @include form-input-textbox-base(false);
        }
        &[type=week] {
            @include form-input-textbox-base(false);
        }
        // <-
        &[type=submit] {
            
        }
        &[type=button] {
            
        }
    }
    textarea {
        
    }
    select {
        option {
            
        }
    }
    button {
        
    }
    datalist {
        
    }
    keygen {
        
    }
    output {
        
    }
}