////
/// @group Form
/// @author Mustard-UI@v1, Michael Becker

///
$textarea-selector: 'textarea' !default;

///
#{$textarea-selector} {
    appearance: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    min-height: 100px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    color: $color-black;
    background-color: $input-bg-color;
    border: 1px solid $input-border-color;
    border-radius: 5px;

    &::placeholder {
        color: $input-placeholder-color;
    }

    &:focus {
        outline: none;
        border-color: $input-active-color;
    }

    &.invalid, &:invalid {
        border-color: $input-invalid-color;
    }
}
