@if($for-output-html-module-content) {
    .for-content {
        background: $for-content-background;
        background-size: $for-content-background-size;
        
        font: $for-content-font-style $for-content-font-weight #{$for-content-font-size}/#{$for-content-line-height} $for-content-font-family;
        font-variant: $for-content-font-variant;
        color: $for-content-font-color;
        text: {
            decoration: $for-content-text-decoration;
            transform: $for-content-text-transform;
        }
                
        @include for-bp-small-all {
            width: $for-content-small-all-width;
        }
        
        @include for-bp-xsmall {
            width: $for-content-xsmall-width;
        }
        
        @include for-bp-small {
            width: $for-content-small-width;
        }
        
        @include for-bp-medium {
            width: $for-content-medium-width;
        }

        @include for-bp-large {
            width: $for-content-large-width;
        }

        @include for-bp-xlarge {
            width: $for-content-xlarge-width;
        }
        
        a {
            font: $for-content-link-font-style $for-content-link-font-weight #{$for-content-link-font-size}/#{$for-content-link-line-height} $for-content-link-font-family;
            font-variant: $for-content-link-font-variant;
            color: $for-content-link-font-color;
            text: {
                decoration: $for-content-link-text-decoration;
                transform: $for-content-link-text-transform;
            }
            &:hover {
                font: $for-content-link-hover-font-style $for-content-link-hover-font-weight $for-content-link-hover-font-size $for-content-link-hover-font-family;
                font-variant: $for-content-link-hover-font-variant;
                color: $for-content-link-hover-font-color;
                text: {
                    decoration: $for-content-link-hover-text-decoration;
                    transform: $for-content-link-hover-text-transform;
                }
            }
        }
    }
}