//  Background
//  ##########
$content-background: #ffffff;

//  Font Color
//  ##########
$content-font-color: $global-font-color;
$content-link-font-color: $link-font-color;
$content-link-hover-font-color: $link-hover-font-color;

//  Font-Size
//  ##########
$content-font-size: $global-font-size;
$content-link-font-size: $link-font-size;
$content-link-hover-font-size: $link-hover-font-size;

//  Font Family
//  ##########
$content-font-family: $global-font-family;
$content-link-font-family: $link-font-family;
$content-link-hover-font-family: $link-hover-font-family;

//  Font Weight
//  ##########
$content-font-weight: $font-weight-global;
$content-link-font-weight: $link-font-weight;
$content-link-hover-font-weight: $link-hover-font-weight;

//  Text Decoration
//  ##########
$content-text-decoration: $text-decoration-global;
$content-link-text-decoration: $link-text-decoration;
$content-link-hover-text-decoration: $link-hover-text-decoration;

//  Line Height
//  ##########
$content-line-height: $line-height-global;
$content-link-line-height: $link-line-height;
$content-link-line-height-hover: $link-line-height-hover;

//  Sizing
//  ##########
$content-mobile-width: 100%;
$content-desktop-width: 710px;