//  Background
//  ##########
$for-content-background: #ffffff;

//  Font Color
//  ##########
$for-content-font-color: $for-global-font-color;
$for-content-link-font-color: $for-link-font-color;
$for-content-link-hover-font-color: $for-link-hover-font-color;

//  Font-Size
//  ##########
$for-content-font-size: $for-global-font-size;
$for-content-link-font-size: $for-link-font-size;
$for-content-link-hover-font-size: $for-link-hover-font-size;

//  Font Family
//  ##########
$for-content-font-family: $for-global-font-family;
$for-content-link-font-family: $for-link-font-family;
$for-content-link-hover-font-family: $for-link-hover-font-family;

//  Font Weight
//  ##########
$for-content-font-weight: $for-font-weight-global;
$for-content-link-font-weight: $for-link-font-weight;
$for-content-link-hover-font-weight: $for-link-hover-font-weight;

//  Text Decoration
//  ##########
$for-content-text-decoration: $for-text-decoration-global;
$for-content-link-text-decoration: $for-link-text-decoration;
$for-content-link-hover-text-decoration: $for-link-hover-text-decoration;

//  Line Height
//  ##########
$for-content-line-height: $for-line-height-global;
$for-content-link-line-height: $for-link-line-height;
$for-content-link-line-height-hover: $for-link-line-height-hover;

//  Sizing
//  ##########
$for-content-mobile-width: 100%;
$for-content-desktop-width: 710px;