@if($for-output-style-html-part) {
    .content {
        color: $for-content-font-color;
        font-size: $for-content-font-size;
        font-family: $for-content-font-family;
        font-weight: $for-content-font-weight;
        text-decoration: $for-content-text-decoration;
        line-height: $for-content-line-height;
        a {
            color: $for-content-link-font-color;
            font-size: $for-content-link-font-size;
            font-family: $for-content-link-font-family;
            font-weight: $for-content-link-font-weight;
            text-decoration: $for-content-link-text-decoration;
            line-height: $for-content-link-line-height;
            &:hover {
                color: $for-content-link-hover-font-color;
                font-size: $for-content-link-hover-font-size;
                font-family: $for-content-link-hover-font-family;
                font-weight: $for-content-link-hover-font-weight;
                text-decoration: $for-content-link-hover-text-decoration;
            }
        }
    }

    .sidebar {
        .heading {
            color: #ffffff;
            font-size: 11pt;
            line-height: $for-sidebar-heading-height;
        }
    }

    //For Sidebar general
    .sidebar {
        color: $for-sidebar-font-color-global;
        font-size: $for-sidebar-font-size-global;
        font-family: $for-sidebar-font-family-global;
        font-weight: $for-sidebar-font-weight-global;
        text-decoration: $for-sidebar-text-decoration-global;
        line-height: $for-sidebar-line-height-global;
            a {
            color: $for-sidebar-font-color-global-link;
            font-size: $for-sidebar-font-size-global-link;
            font-family: $for-sidebar-font-family-global-link;
            font-weight: $for-sidebar-font-weight-global-link;
            text-decoration: $for-sidebar-text-decoration-global-link;
            line-height: $for-sidebar-line-height-global-link;
            &:hover {
                color: $for-sidebar-font-color-global-link-hover;
                font-size: $for-sidebar-font-size-global-link-hover;
                font-family: $for-sidebar-font-family-global-link-hover;
                font-weight: $for-sidebar-font-weight-global-link-hover;
                text-decoration: $for-sidebar-text-decoration-global-link-hover;
            }
        }
    }

    #sidebar-primary {
        color: $for-sidebar-font-color-primary;
        font-size: $for-sidebar-font-size-primary;
        font-family: $for-sidebar-font-family-primary;
        font-weight: $for-sidebar-font-weight-primary;
        text-decoration: $for-sidebar-text-decoration-primary;
        line-height: $for-sidebar-line-height-primary;
        a {
            color: $for-sidebar-font-color-primary-link;
            font-size: $for-sidebar-font-size-primary-link;
            font-family: $for-sidebar-font-family-primary-link;
            font-weight: $for-sidebar-font-weight-primary-link;
            text-decoration: $for-sidebar-text-decoration-primary-link;
            line-height: $for-sidebar-line-height-primary-link;
            &:hover {
                color: $for-sidebar-font-color-primary-link-hover;
                font-size: $for-sidebar-font-size-primary-link-hover;
                font-family: $for-sidebar-font-family-primary-link-hover;
                font-weight: $for-sidebar-font-weight-primary-link-hover;
                text-decoration: $for-sidebar-text-decoration-primary-link-hover;
            }
        }
    }

    #sidebar-secondary {
        color: $for-sidebar-font-color-secondary;
        font-size: $for-sidebar-font-size-secondary;
        font-family: $for-sidebar-font-family-secondary;
        font-weight: $for-sidebar-font-weight-secondary;
        text-decoration: $for-sidebar-text-decoration-secondary;
        line-height: $for-sidebar-line-height-secondary;
        a {
            color: $for-sidebar-font-color-secondary-link;
            font-size: $for-sidebar-font-size-secondary-link;
            font-family: $for-sidebar-font-family-secondary-link;
            font-weight: $for-sidebar-font-weight-secondary-link;
            text-decoration: $for-sidebar-text-decoration-secondary-link;
            line-height: $for-sidebar-line-height-secondary-link;
            &:hover {
                color: $for-sidebar-font-color-secondary-link-hover;
                font-size: $for-sidebar-font-size-secondary-link-hover;
                font-family: $for-sidebar-font-family-secondary-link-hover;
                font-weight: $for-sidebar-font-weight-secondary-link-hover;
                text-decoration: $for-sidebar-text-decoration-secondary-link-hover;
            }
        }
    }

    .content {
        a {
            &:hover {
            }
        }
        .heading {
            font-size: $for-product-list-heading-font-size;
            color: $for-product-list-heading-font-color;
            font-weight: $for-product-list-heading-font-weight;
            font-style: $for-product-list-heading-font-style;
            text-decoration: $for-product-list-heading-text-decoration;
            text-transform: $for-product-list-heading-text-transform;
            line-height: $for-product-list-heading-height;
        }
        .list-refine {
            font-size: $for-product-list-refine-font-size;
            color: $for-product-list-refine-font-color;
            font-weight: $for-product-list-refine-font-weight;
            font-style: $for-product-list-refine-font-style;
            text-decoration: $for-product-list-refine-text-decoration;
            text-transform: $for-product-list-refine-text-transform;
            line-height: $for-product-list-refine-height;
        }
    }

    #category-tree {
        ul {
            li {
                a {
                    line-height: $for-category-tree-link-height;
                    color: $for-category-tree-font-color;
                    font-size: $for-category-tree-font-size;
                    font-weight: $for-category-tree-font-weight;
                    text-decoration: $for-category-tree-text-decoration;
                    border-bottom: $for-category-tree-border-bottom-width $for-category-tree-border-bottom-style $for-category-tree-border-bottom-color;
                    &:hover {
                        color: $for-category-tree-font-color-hover;
                        font-size: $for-category-tree-font-size;
                        font-weight: $for-category-tree-font-weight-hover;
                        text-decoration: $for-category-tree-text-decoration-hover;
                        border-bottom: $for-category-tree-border-bottom-width-hover $for-category-tree-border-bottom-style-hover $for-category-tree-border-bottom-color-hover;
                    }
                }
            }
        }
    }

    #footer {
        color: $for-footer-font-color;
        font-size: $for-footer-font-size;
        font-family: $for-footer-font-family;
        font-weight: $for-footer-font-weight;
        text-decoration: $for-footer-text-decoration;
        line-height: $for-footer-line-height;
        a {
            color: $for-footer-link-font-color;
            font-size: $for-footer-link-font-size;
            font-family: $for-footer-link-font-family;
            font-weight: $for-footer-link-font-weight;
            text-decoration: $for-footer-link-text-decoration;
            line-height: $for-footer-link-line-height;
            &:hover {
                color: $for-footer-link-hover-font-color;
                font-size: $for-footer-link-hover-font-size;
                font-family: $for-footer-link-hover-font-family;
                font-weight: $for-footer-link-hover-font-weight;
                text-decoration: $for-footer-link-hover-text-decoration;
            }
        }
    }
}