//
// Breakpoint
// ##################################################

$for-bp-lgx-min-size: 3000px !default;//e.g. 4k
$for-bp-lg-min-size: 1200px !default;//e.g. desktop-pc (HD)
$for-bp-md-min-size: 992px !default;//e.g. laptop/desktop-pc (SD)
$for-bp-sm-min-size: 768px !default;//e.g. netbook/tablet
$for-bp-smx-max-size: $for-bp-sm-min-size - 1 !default;//e.g. smartphone

//
// Columns
// ##################################################
$for-col-qty: 24 !default;
$for-col-basic-size: 100% / $for-col-qty; // The size of one column

//
// Gutter
// ##################################################
$for-gutter-thickest-general: 75px !default;
$for-gutter-thickest-top: $for-gutter-thickest-general !default;
$for-gutter-thickest-right: $for-gutter-thickest-general !default;
$for-gutter-thickest-bottom: $for-gutter-thickest-general !default;
$for-gutter-thickest-left: $for-gutter-thickest-general !default;
$for-gutter-thickest: $for-gutter-thickest-top $for-gutter-thickest-right $for-gutter-thickest-bottom $for-gutter-thickest-left !default;

$for-gutter-thicker-general: 50px !default;
$for-gutter-thicker-top: $for-gutter-thicker-general !default;
$for-gutter-thicker-right: $for-gutter-thicker-general !default;
$for-gutter-thicker-bottom: $for-gutter-thicker-general !default;
$for-gutter-thicker-left: $for-gutter-thicker-general !default;
$for-gutter-thicker: $for-gutter-thicker-top $for-gutter-thicker-right $for-gutter-thicker-bottom $for-gutter-thicker-left !default;

$for-gutter-thick-general: 30px !default;
$for-gutter-thick-top: 15px !default;
$for-gutter-thick-right: $for-gutter-thick-general !default;
$for-gutter-thick-bottom: 15px !default;
$for-gutter-thick-left: $for-gutter-thick-general !default;
$for-gutter-thick: $for-gutter-thick-top $for-gutter-thick-right $for-gutter-thick-bottom $for-gutter-thick-left !default;

$for-gutter-normal-general: 20px !default;
$for-gutter-normal-top: 10px !default;
$for-gutter-normal-right: $for-gutter-normal-general !default;
$for-gutter-normal-bottom: 10px !default;
$for-gutter-normal-left: $for-gutter-normal-general !default;
$for-gutter-normal: $for-gutter-normal-top $for-gutter-normal-right $for-gutter-normal-bottom $for-gutter-normal-left !default;

$for-gutter-thin-general: 10px !default;
$for-gutter-thin-top: $for-gutter-thin-general !default;
$for-gutter-thin-right: $for-gutter-thin-general !default;
$for-gutter-thin-bottom: $for-gutter-thin-general !default;
$for-gutter-thin-left: $for-gutter-thin-general !default;
$for-gutter-thin: $for-gutter-thin-top $for-gutter-thin-right $for-gutter-thin-bottom $for-gutter-thin-left !default;

$for-gutter-thinner-general: 6px !default;
$for-gutter-thinner-top: $for-gutter-thinner-general !default;
$for-gutter-thinner-right: $for-gutter-thinner-general !default;
$for-gutter-thinner-bottom: $for-gutter-thinner-general !default;
$for-gutter-thinner-left: $for-gutter-thinner-general !default;
$for-gutter-thinner: $for-gutter-thinner-top $for-gutter-thinner-right $for-gutter-thinner-bottom $for-gutter-thinner-left !default;

$for-gutter-thinnest-general: 3px !default;
$for-gutter-thinnest-top: $for-gutter-thinnest-general !default;
$for-gutter-thinnest-right: $for-gutter-thinnest-general !default;
$for-gutter-thinnest-bottom: $for-gutter-thinnest-general !default;
$for-gutter-thinnest-left: $for-gutter-thinnest-general !default;
$for-gutter-thinnest: $for-gutter-thinnest-top $for-gutter-thinnest-right $for-gutter-thinnest-bottom $for-gutter-thinnest-left !default;

$for-gutter-lgx-min-size: $for-gutter-thick !default;//e.g. 4k
$for-gutter-lg-min-size: $for-gutter-thick !default;//e.g. desktop-pc (HD)
$for-gutter-md-min-size: $for-gutter-normal !default;//e.g. laptop/desktop-pc (SD)
$for-gutter-sm-min-size: $for-gutter-normal !default;//e.g. netbook/tablet
$for-gutter-smx-max-size: $for-gutter-thin !default;//e.g. smartphone