//  Sidebar general
//  ##################################################

//  Background
//  ##########
$for-sidebar-background: $for-general-color-primary !default;
$for-sidebar-background-size: auto !default;

//  Font Color
//  ##########
$for-sidebar-font-color: $for-general-color-secondary !default;
$for-sidebar-link-font-color: $for-link-font-color !default;
$for-sidebar-link-hover-font-color: $for-link-hover-font-color !default;

//  Font-Size
//  ##########
$for-sidebar-font-size: $for-general-font-size !default;
$for-sidebar-link-font-size: $for-link-font-size !default;
$for-sidebar-link-hover-font-size: $for-link-hover-font-size !default;

//  Font Style
//  ##########
$for-sidebar-font-style: $for-general-font-style !default;
$for-sidebar-link-font-style: $for-link-font-style !default;
$for-sidebar-link-hover-font-style: $for-link-hover-font-style !default;

//  Font Family
//  ##########
$for-sidebar-font-family: $for-general-font-family !default;
$for-sidebar-link-font-family: $for-link-font-family !default;
$for-sidebar-link-hover-font-family: $for-link-hover-font-family !default;

//  Font Weight
//  ##########
$for-sidebar-font-weight: $for-general-font-weight !default;
$for-sidebar-link-font-weight: $for-link-font-weight !default;
$for-sidebar-link-hover-font-weight: $for-link-hover-font-weight !default;

//  Font Variant
//  ##########
$for-sidebar-font-variant: $for-general-font-variant !default;
$for-sidebar-link-font-variant: $for-link-font-variant !default;
$for-sidebar-link-hover-font-variant: $for-link-hover-font-variant !default;

//  Text Decoration
//  ##########
$for-sidebar-text-decoration: $for-general-text-decoration !default;
$for-sidebar-link-text-decoration: $for-link-text-decoration !default;
$for-sidebar-link-hover-text-decoration: $for-link-hover-text-decoration !default;

//  Text Transform
//  ##########
$for-sidebar-text-transform: $for-general-text-transform !default;
$for-sidebar-link-text-transform: $for-link-text-transform !default;
$for-sidebar-link-hover-text-transform: $for-link-hover-text-transform !default;

//  Line Height
//  ##########
$for-sidebar-line-height: $for-general-line-height !default;
$for-sidebar-link-line-height: $for-link-line-height !default;
$for-sidebar-link-hover-line-height: $for-link-hover-line-height !default;

//  Sidebar heading
//  ##################################################

//  Background
//  ##########
$for-sidebar-heading-background: $for-general-color-primary !default;
$for-sidebar-heading-background-size: auto !default;

//  Font Color
//  ##########
$for-sidebar-heading-font-color: $for-general-color-secondary !default;
$for-sidebar-heading-link-font-color: $for-link-font-color !default;
$for-sidebar-heading-link-hover-font-color: $for-link-hover-font-color !default;

//  Font-Size
//  ##########
$for-sidebar-heading-font-size: $for-general-font-size !default;
$for-sidebar-heading-link-font-size: $for-link-font-size !default;
$for-sidebar-heading-link-hover-font-size: $for-link-hover-font-size !default;

//  Font Style
//  ##########
$for-sidebar-heading-font-style: $for-general-font-style !default;
$for-sidebar-heading-link-font-style: $for-link-font-style !default;
$for-sidebar-heading-link-hover-font-style: $for-link-hover-font-style !default;

//  Font Family
//  ##########
$for-sidebar-heading-font-family: $for-general-font-family !default;
$for-sidebar-heading-link-font-family: $for-link-font-family !default;
$for-sidebar-heading-link-hover-font-family: $for-link-hover-font-family !default;

//  Font Weight
//  ##########
$for-sidebar-heading-font-weight: $for-general-font-weight !default;
$for-sidebar-heading-link-font-weight: $for-link-font-weight !default;
$for-sidebar-heading-link-hover-font-weight: $for-link-hover-font-weight !default;

//  Font Variant
//  ##########
$for-sidebar-heading-font-variant: $for-general-font-variant !default;
$for-sidebar-heading-link-font-variant: $for-link-font-variant !default;
$for-sidebar-heading-link-hover-font-variant: $for-link-hover-font-variant !default;

//  Text Decoration
//  ##########
$for-sidebar-heading-text-decoration: $for-general-text-decoration !default;
$for-sidebar-heading-link-text-decoration: $for-link-text-decoration !default;
$for-sidebar-heading-link-hover-text-decoration: $for-link-hover-text-decoration !default;

//  Text Transform
//  ##########
$for-sidebar-heading-text-transform: $for-general-text-transform !default;
$for-sidebar-heading-link-text-transform: $for-link-text-transform !default;
$for-sidebar-heading-link-hover-text-transform: $for-link-hover-text-transform !default;

//  Line Height
//  ##########
$for-sidebar-heading-line-height: $for-general-line-height !default;
$for-sidebar-heading-link-line-height: $for-link-line-height !default;
$for-sidebar-heading-link-hover-line-height: $for-link-hover-line-height !default;

// Sizing
// ##################################################
$for-sidebar-xlarge-width: $for-container-xlarge-width - $for-content-xlarge-width !default;
$for-sidebar-large-width: $for-container-large-width - $for-content-large-width !default;
$for-sidebar-medium-width: $for-container-medium-width - $for-content-medium-width !default;
$for-sidebar-small-all-width: 100% !default;
$for-sidebar-small-width: $for-sidebar-small-all-width !default;
$for-sidebar-xsmall-width: $for-sidebar-small-all-width !default;