@import 'basis-coloring';
@import 'basis-typography';
@import 'button';
@import 'form';
@import 'header';
@import 'sidebar';
@import 'content';
@import 'footer';
@import 'category-tree';
@import 'product-list';
@import 'product-details';

// Template Sizes and Positions
// #########################################################
$container-mobile-width: 100%;
$container-desktop-width: 940px;

$menu-mobile-width: 1600px;
$menu-desktop-width: 1600px;

// Backgrounds
// #########################################################
$body-background: #ffffff;

// Breakpoint
// #########################################################

$bp-xlarge-min-size: 1824px;//e.g. 4k
$bp-large-min-size: 1200px;//e.g. desktop-pc (HD)
$bp-medium-min-size: 992px;//e.g. laptop
$bp-small-min-size: 768px;//e.g. netbook/tablet
$bp-xsmall-max-size: $bp-small-min-size - 1;//e.g. smartphone