// Category Tree
// #########################################################
$category-tree-link-height: 30px;
$category-tree-font-size: 11pt;
$category-tree-font-color: $color-secondary;
$category-tree-font-color-hover: $category-tree-font-color;
$category-tree-font-weight: 400;
$category-tree-font-weight-hover: $category-tree-font-weight;
$category-tree-text-decoration: none;
$category-tree-text-decoration-hover: underline;

$category-tree-border-bottom-width: 0;
$category-tree-border-bottom-width-hover: $category-tree-border-bottom-width;
$category-tree-border-bottom-color: transparent;
$category-tree-border-bottom-color-hover: $category-tree-border-bottom-color;
$category-tree-border-bottom-style: solid;
$category-tree-border-bottom-style-hover: $category-tree-border-bottom-style;