//  Background
//  ##########
$content-background: #ffffff;

//  Font Color
//  ##########
$content-font-color: $font-color-global;
$content-font-color-link: $font-color-link;
$content-font-color-link-hover: $font-color-link-hover;

//  Font-Size
//  ##########
$content-font-size: $font-size-global;
$content-font-size-link: $font-size-link;
$content-font-size-link-hover: $font-size-link-hover;

//  Font Family
//  ##########
$content-font-family: $font-family-global;
$content-font-family-link: $font-family-link;
$content-font-family-link-hover: $font-family-link-hover;

//  Font Weight
//  ##########
$content-font-weight: $font-weight-global;
$content-font-weight-link: $font-weight-link;
$content-font-weight-link-hover: $font-weight-link-hover;

//  Text Decoration
//  ##########
$content-text-decoration: $text-decoration-global;
$content-text-decoration-link: $text-decoration-link;
$content-text-decoration-link-hover: $text-decoration-link-hover;

//  Line Height
//  ##########
$content-line-height: $line-height-global;
$content-line-height-link: $line-height-link;
$content-line-height-link-hover: $line-height-link-hover;

//  Sizing
//  ##########
$content-mobile-width: 100%;
$content-desktop-width: 710px;