//  Background
//  ##########
$header-background: #ffffff;
$header-background: #ffffff url("../../img/background_header.jpg") no-repeat top center;
$header-background-size: cover;

//  Font Color
//  ##########
$header-font-color: $font-color-global;
$header-font-color-link: #ffffff;
$header-font-color-link-hover: $header-font-color-link;

//  Font-Size
//  ##########
$header-font-size: $font-size-global;
$header-font-size-link: 13pt;
$header-font-size-link-hover: $header-font-size-link;

//  Font Family
//  ##########
$header-font-family: $font-family-global;
$header-font-family-link: $font-family-link;
$header-font-family-link-hover: $font-family-link-hover;

//  Font Weight
//  ##########
$header-font-weight: $font-weight-global;
$header-font-weight-link: $font-weight-link;
$header-font-weight-link-hover: bold;

//  Text Decoration
//  ##########
$header-text-decoration: $text-decoration-global;
$header-text-decoration-link: $text-decoration-link;
$header-text-decoration-link-hover: $text-decoration-link-hover;

//  Line Height
//  ##########
$header-line-height: $line-height-global;
$header-line-height-link: 30px;
$header-line-height-link-hover: $header-line-height-link;