// Product-List
// #########################################################
$product-list-heading-height: 30px;
$product-list-heading-background: $color-secondary;
$product-list-heading-font-size: $font-size-global;
$product-list-heading-font-color: #ffffff;
$product-list-heading-font-weight: 400;
$product-list-heading-font-style: normal;
$product-list-heading-text-decoration: none;
$product-list-heading-text-transform: none;
$product-list-heading-margin-bottom: 0;
$product-list-heading-padding-left: 10px;
$product-list-refine-height: 30px;
$product-list-refine-background: $color-primary;
$product-list-refine-font-size: $font-size-global;
$product-list-refine-font-color: $color-secondary;
$product-list-refine-font-weight: 400;
$product-list-refine-font-style: normal;
$product-list-refine-text-decoration: none;
$product-list-refine-text-transform: none;
$product-list-refine-margin-bottom: 25px;