//  Fonts and Typographic
//  #########################################################

//  Color
//  ##########
$for-global-font-color: #000000;
$for-font-color-h1: $for-global-font-color;
$for-font-color-h2: $for-global-font-color;
$for-font-color-h3: $for-global-font-color;
$for-font-color-h4: $for-global-font-color;
$for-font-color-h5: $for-global-font-color;
$for-font-color-h6: $for-global-font-color;
$for-font-color-p: $for-global-font-color;
$for-link-font-color: $for-global-font-color;
$for-link-hover-font-color: $for-link-font-color;

//  Size
//  ##########
$for-global-font-size: 11pt;
$for-font-size-h1: $for-global-font-size;
$for-font-size-h2: $for-global-font-size;
$for-font-size-h3: $for-global-font-size;
$for-font-size-h4: $for-global-font-size;
$for-font-size-h5: $for-global-font-size;
$for-font-size-h6: $for-global-font-size;
$for-font-size-p: $for-global-font-size;
$for-link-font-size: $for-global-font-size;
$for-link-hover-font-size: $for-link-font-size;

//  Font Family
//  ##########
$for-global-font-family: Arial, Helvetica;
$for-font-family-h1: $for-global-font-family;
$for-font-family-h2: $for-global-font-family;
$for-font-family-h3: $for-global-font-family;
$for-font-family-h4: $for-global-font-family;
$for-font-family-h5: $for-global-font-family;
$for-font-family-h6: $for-global-font-family;
$for-font-family-p: $for-global-font-family;
$for-link-font-family: $for-global-font-family;
$for-link-hover-font-family: $for-link-font-family;

//  Font Weight
//  ##########
$for-font-weight-global: 400;
$for-font-weight-h1: $for-font-weight-global;
$for-font-weight-h2: $for-font-weight-global;
$for-font-weight-h3: $for-font-weight-global;
$for-font-weight-h4: $for-font-weight-global;
$for-font-weight-h5: $for-font-weight-global;
$for-font-weight-h6: $for-font-weight-global;
$for-font-weight-p: $for-font-weight-global;
$for-link-font-weight: $for-font-weight-global;
$for-link-hover-font-weight: $for-link-font-weight;

//  Line Height
//  ##########
$for-line-height-global: 30px;
$for-line-height-h1: $for-line-height-global;
$for-line-height-h2: $for-line-height-global;
$for-line-height-h3: $for-line-height-global;
$for-line-height-h4: $for-line-height-global;
$for-line-height-h5: $for-line-height-global;
$for-line-height-h6: $for-line-height-global;
$for-line-height-p: $for-line-height-global;
$for-link-line-height: $for-line-height-global;
$for-link-line-height-hover: $for-link-line-height;

//  Font Style
//  ##########
//  TODO: implement
$for-font-style-global: none;
$for-font-style-h1: $for-font-style-global;
$for-font-style-h2: $for-font-style-global;
$for-font-style-h3: $for-font-style-global;
$for-font-style-h4: $for-font-style-global;
$for-font-style-h5: $for-font-style-global;
$for-font-style-h6: $for-font-style-global;
$for-font-style-p: $for-font-style-global;
$for-link-font-style: $for-font-style-global;
$for-link-hover-font-style: $for-link-font-style;

//  Font Variant
//  ##########
//  TODO: implement
$for-global-font-variant: normal;
$for-h1-font-variant: $for-global-font-variant;
$for-h1-font-variant: $for-global-font-variant;
$for-h1-font-variant: $for-global-font-variant;
$for-h1-font-variant: $for-global-font-variant;
$for-h1-font-variant: $for-global-font-variant;
$for-h1-font-variant: $for-global-font-variant;
$for-p-font-variant: $for-global-font-variant;
$for-link-font-variant: $for-global-font-variant;
$for-link-hover-font-variant: $for-link-font-variant;


//  Text Decoration
//  ##########
$for-text-decoration-global: none;
$for-text-decoration-h1: $for-text-decoration-global;
$for-text-decoration-h2: $for-text-decoration-global;
$for-text-decoration-h3: $for-text-decoration-global;
$for-text-decoration-h4: $for-text-decoration-global;
$for-text-decoration-h5: $for-text-decoration-global;
$for-text-decoration-h6: $for-text-decoration-global;
$for-text-decoration-p: $for-text-decoration-global;
$for-link-text-decoration: $for-text-decoration-global;
$for-link-hover-text-decoration: $for-link-text-decoration;

//  Text Transform
//  ##########
//  TODO: implement
$for-text-transform-global: normal;
$for-text-transform-h1: $for-text-transform-global;
$for-text-transform-h2: $for-text-transform-global;
$for-text-transform-h3: $for-text-transform-global;
$for-text-transform-h4: $for-text-transform-global;
$for-text-transform-h5: $for-text-transform-global;
$for-text-transform-h6: $for-text-transform-global;
$for-text-transform-p: $for-text-transform-global;
$for-text-transform-link: $for-text-transform-global;
$for-text-transform-link-hover: $for-text-transform-link;