////
/// @group Typography:Links
/// @author Mustard-UI@v1
////

///
#{$link-selector} {
    @include link();
}

///
strong #{$link-selector} {
    font-weight: $link-weight-strong;
}

///
#{$link-selector}.no-link {
    color: (internal value);
    text-decoration: underline;
    cursor: auto;

    ///
    &:visited {
        color: (internal value);
        text-decoration: underline;
        cursor: auto;
    }

    ///
    &:link:active {
        color: (internal value);
    }

    ///
    &:visited:active {
        color: (internal value);
    }
}
