////
/// Typography
/// ================
/// All general styling for text (font general, h1-h6, p, a, a:hover)
/// @group Typography
/// @author Michael Becker
////

/// @output the general font styling
@mixin for-typography-general {
    color : $for-general-font-color;
    font  : $for-general-font-style $for-general-font-weight #{$for-general-font-size}/#{$for-general-line-height} $for-general-font-family;
    text           : {
        decoration : $for-general-text-decoration;
        transform  : $for-general-text-transform;
        align      : $for-general-text-align;
    }
}

/// @output the h1 font styling
@mixin for-typography-h1 {
    color        : $for-h1-font-color;
    font         : $for-h1-font-style $for-h1-font-weight #{$for-h1-font-size}/#{$for-h1-line-height} $for-h1-font-family;
    font-variant : $for-h1-font-variant;
    text           : {
        decoration : $for-h1-text-decoration;
        transform  : $for-h1-text-transform;
        align      : $for-h1-text-align;
    }
    margin       : $for-h1-margin;
}

/// @output the h2 font styling
@mixin for-typography-h2 {
    color        : $for-h2-font-color;
    font         : $for-h2-font-style $for-h2-font-weight #{$for-h2-font-size}/#{$for-h2-line-height} $for-h2-font-family;
    font-variant : $for-h2-font-variant;
    text           : {
        decoration : $for-h2-text-decoration;
        transform  : $for-h2-text-transform;
        align      : $for-h2-text-align;
    }
    margin       : $for-h2-margin;
}

/// @output the h3 font styling
@mixin for-typography-h3 {
    color        : $for-h3-font-color;
    font         : $for-h3-font-style $for-h3-font-weight #{$for-h3-font-size}/#{$for-h3-line-height} $for-h3-font-family;
    font-variant : $for-h3-font-variant;
    text           : {
        decoration : $for-h3-text-decoration;
        transform  : $for-h3-text-transform;
        align      : $for-h3-text-align;
    }
    margin       : $for-h3-margin;
}

/// @output the h4 font styling
@mixin for-typography-h4 {
    color        : $for-h4-font-color;
    font         : $for-h4-font-style $for-h4-font-weight #{$for-h4-font-size}/#{$for-h4-line-height} $for-h4-font-family;
    font-variant : $for-h4-font-variant;
    text           : {
        decoration : $for-h4-text-decoration;
        transform  : $for-h4-text-transform;
        align      : $for-h4-text-align;
    }
    margin       : $for-h4-margin;
}

/// @output the h5 font styling
@mixin for-typography-h5 {
    color        : $for-h5-font-color;
    font         : $for-h5-font-style $for-h5-font-weight #{$for-h5-font-size}/#{$for-h5-line-height} $for-h5-font-family;
    font-variant : $for-h5-font-variant;
    text           : {
        decoration : $for-h5-text-decoration;
        transform  : $for-h5-text-transform;
        align      : $for-h5-text-align;
    }
    margin       : $for-h5-margin;
}

/// @output the h6 font styling
@mixin for-typography-h6 {
    color        : $for-h6-font-color;
    font         : $for-h6-font-style $for-h6-font-weight #{$for-h6-font-size}/#{$for-h6-line-height} $for-h6-font-family;
    font-variant : $for-h6-font-variant;
    text           : {
        decoration : $for-h6-text-decoration;
        transform  : $for-h6-text-transform;
        align      : $for-h6-text-align;
    }
    margin       : $for-h6-margin;
}

/// @output the p font styling
@mixin for-typography-p {
    color        : $for-p-font-color;
    font         : $for-p-font-style $for-p-font-weight #{$for-p-font-size}/#{$for-p-line-height} $for-p-font-family;
    font-variant : $for-p-font-variant;
    text           : {
        decoration : $for-p-text-decoration;
        transform  : $for-p-text-transform;
        align      : $for-p-text-align;
    }
    margin       : $for-p-margin;
}

/// @output the link (a) font styling, including :hover
@mixin for-typography-link {
    color        : $for-link-font-color;
    font         : $for-link-font-style $for-link-font-weight #{$for-link-font-size}/#{$for-link-line-height} $for-link-font-family;
    font-variant : $for-link-font-variant;
    text           : {
        decoration : $for-link-text-decoration;
        transform  : $for-link-text-transform;
        align      : $for-link-text-align;
    }
    &:hover {
        color        : $for-link-hover-font-color;
        font         : $for-link-hover-font-style $for-link-hover-font-weight $for-link-hover-font-size $for-link-hover-font-family;
        font-variant : $for-link-hover-font-variant;
        text           : {
            decoration : $for-link-hover-text-decoration;
            transform  : $for-link-hover-text-transform;
            align      : $for-link-hover-text-align;
        }
    }
}