////
/// @group Typography
/// @author Basscss@v8, Mustard-UI@v1, Michael Becker
////

//
body {
    font-family: $font-family;
    line-height: $line-height;
    font-weight: $font-weight;
    color: $font-color;
}

///
.body1 {
    @include body1()
}

///
.body2 {
    @include body2()
}
