@if($for-output-style-all) {
    html {
        /* It is advised to set font-size and line-height here as rem is becoming popular (rem = root em) */
        font: {
            size: $for-global-font-size;
        }
        line: {
            height: $for-line-height-global;
        }
    }

    body {
        color: $for-global-font-color;
        font: {
            family: $for-global-font-family;
            weight: $for-font-weight-global;
        }
        text: {
            decoration: $for-text-decoration-global;
        }
    }

    a {
        color: $for-link-font-color;
        font: {
            size: $for-link-font-size;
            family: $for-link-font-family;
            weight: $for-link-font-weight;
        }
        text: {
            decoration: $for-link-text-decoration;
        }
        line: {
            height: $for-link-line-height;
        }
        &:hover {
            color: $for-link-hover-font-color;
            font: {
                size: $for-link-hover-font-size;
                family: $for-link-hover-font-family;
                weight: $for-link-hover-font-weight;
            }
            text: {
                decoration: $for-link-hover-text-decoration;
            }
        }
    }

    p {
        color: $for-font-color-p;
        font: {
            size: $for-font-size-p;
            family: $for-font-family-p;
            weight: $for-font-weight-p;
        }
        text: {
            decoration: $for-text-decoration-p;
        }
        line: {
            height: $for-line-height-p;
        }
    }

    h1 {
        color: $for-font-color-h1;
        font: {
            size: $for-font-size-h1;
            family: $for-font-family-h1;
            weight: $for-font-weight-h1;
        }
        text: {
            decoration: $for-text-decoration-h1;
        }
        line: {
            height: $for-line-height-h1;
        }
    }

    h2 {
        color: $for-font-color-h2;
        font: {
            size: $for-font-size-h2;
            family: $for-font-family-h2;
            weight: $for-font-weight-h2;
        }
        text: {
            decoration: $for-text-decoration-h2;
        }
        line: {
            height: $for-line-height-h2;
        }
    }

    h3 {
        color: $for-font-color-h3;
        font: {
            size: $for-font-size-h3;
            family: $for-font-family-h3;
            weight: $for-font-weight-h3;
        }
        text: {
            decoration: $for-text-decoration-h3;
        }
        line: {
            height: $for-line-height-h3;
        }
    }

    h4 {
        color: $for-font-color-h4;
        font: {
            size: $for-font-size-h4;
            family: $for-font-family-h4;
            weight: $for-font-weight-h4;
        }
        text: {
            decoration: $for-text-decoration-h4;
        }
        line: {
            height: $for-line-height-h4;
        }
    }

    h5 {
        color: $for-font-color-h5;
        font: {
            size: $for-font-size-h5;
            family: $for-font-family-h5;
            weight: $for-font-weight-h5;
        }
        text: {
            decoration: $for-text-decoration-h5;
        }
        line: {
            height: $for-line-height-h5;
        }
    }

    h6 {
        color: $for-font-color-h6;
        font: {
            size: $for-font-size-h6;
            family: $for-font-family-h6;
            weight: $for-font-weight-h6;
        }
        text: {
            decoration: $for-text-decoration-h6;
        }
        line: {
            height: $for-line-height-h6;
        }
    }
}