////
/// @group Typography
/// @author Basscss@v8, Mustard-UI@v1, Michael Becker
////

///
#{$title1-selector},
#{$title2-selector},
#{$title3-selector},
#{$title4-selector},
#{$title5-selector},
#{$title6-selector} {
    font-family: $title-font-family;
    font-weight: $title-font-weight;
    color: $title-font-color;
    margin: $title-margin;
}

///
#{$title1-selector} {
    @include title1;
}

///
#{$title2-selector} {
    @include title2;
}

///
#{$title3-selector} {
    @include title3;
}

///
#{$title4-selector} {
    @include title4;
}

///
#{$title5-selector} {
    @include title5;
}

///
#{$title6-selector} {
    @include title6;
}


///
#{$subtitle2-selector},
#{$subtitle1-selector} {
    font-family: $subtitle-font-family;
    font-weight: $subtitle-font-weight;
    color: $subtitle-font-color;
    margin: $subtitle-margin;
}

///
#{$subtitle1-selector} {
    @include subtitle1;
}

///
#{$subtitle2-selector} {
    @include subtitle2;
}
