////
/// @group Typography
/// @author Mustard-UI@v1, Michael Becker
////

///
$line-height: 1.6 !default;
///
$line-height-1: $line-height !default;
///
$line-height-2: 1.85 !default;
///
$line-height-3: 2.05 !default;
///
$line-height-4: 2.25 !default;
///
$font-weight-light: 300 !default;
///
$font-weight: 400 !default;
///
$font-weight-bold: 600 !default;
///
$font-color: $color-gray-800 !default;
///
$caps-letter-spacing: 0.05em;

// Credit: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
///
$font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif !default;
// @todo move system font examples somewhere else
// Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
// Baskerville, Baskerville Old Face, Hoefler Text, Garamond, Times New Roman, serif;
$font-family-serif: Baskerville, Baskerville Old Face, Hoefler Text, Garamond, Times New Roman, serif !default;
///
$font-family-mono: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace !default;

///
$title-font-color: $color-indigo-900 !default;
///
$title-font-weight: $font-weight !default;
///
$title-margin: 0 0 0.3em 0 !default;
///
$title-font-family: $font-family-serif !default;

///
$title1-font-size: 3em !default;
///
$title1-line-height: 1.25em !default;
///
$title2-font-size: 2.5em !default;
///
$title2-line-height: 1.25em !default;
///
$title3-font-size: 2em !default;
///
$title3-line-height: 1.25em !default;
///
$title4-font-size: 1.75em !default;
///
$title4-line-height: 1em !default;
///
$title5-font-size: 1.5em !default;
///
$title5-line-height: 1em !default;
///
$title6-font-size: 1.25em !default;
///
$title6-line-height: 1em !default;

///
$title1-selector: 'h1, .h1' !default;
///
$title2-selector: 'h2, .h2' !default;
///
$title3-selector: 'h3, .h3' !default;
///
$title4-selector: 'h4, .h4' !default;
///
$title5-selector: 'h5, .h5' !default;
///
$title6-selector: 'h6, .h6' !default;

///
$titles-selectors: $title1-selector, $title2-selector, $title3-selector, $title4-selector, $title5-selector, $title6-selector !default;

///
$subtitle-font-color: $title-font-color !default;
///
$subtitle-font-weight: bold !default;
///
$subtitle-margin: 0 0 0.2423em 0 !default;
///
$subtitle-font-family: $title-font-family !default;

///
$subtitle1-font-size: 1.36em !default;
///
$subtitle1-line-height: 1.126em !default;
///
$subtitle2-font-size: 1.125em !default;
///
$subtitle2-line-height: 1em !default;

///
$subtitle1-selector: '.subtitle1' !default;
///
$subtitle2-selector: '.subtitle2' !default;

///
$subtitles-selectors: $subtitle1-selector, $subtitle2-selector !default;

///
$body1-margin: 0 0 0.6125em 0 !default;

///
$body2-factor: 0.9 !default;
///
$body2-margin: 0 0 0.4em 0 !default;

///
$text-colors: (
    'primary' : $color-primary,
    'secondary' : $color-secondary,
    'success' : $color-success-dark,
    'info' : $color-info-dark,
    'warning' : $color-warning-dark,
    'danger' : $color-danger-dark,
    'light' : $color-gray-600,
    'strong' : $color-gray-900,
) !default;
