//  Background
//  ##########
$for-footer-background: $for-general-color-secondary !default;
$for-footer-background-size: auto !default;

//  Font Color
//  ##########
$for-footer-font-color: $for-general-font-color !default;
$for-footer-link-font-color: $for-link-font-color !default;
$for-footer-link-hover-font-color: $for-link-hover-font-color !default;

//  Font-Size
//  ##########
$for-footer-font-size: $for-general-font-size !default;
$for-footer-link-font-size: $for-link-font-size !default;
$for-footer-link-hover-font-size: $for-link-hover-font-size !default;

//  Font Style
//  ##########
$for-footer-font-style: $for-general-font-style !default;
$for-footer-link-font-style: $for-link-font-style !default;
$for-footer-link-hover-font-style: $for-link-hover-font-style !default;

//  Font Family
//  ##########
$for-footer-font-family: $for-general-font-family !default;
$for-footer-link-font-family: $for-link-font-family !default;
$for-footer-link-hover-font-family: $for-link-hover-font-family !default;

//  Font Weight
//  ##########
$for-footer-font-weight: $for-general-font-weight !default;
$for-footer-link-font-weight: $for-link-font-weight !default;
$for-footer-link-hover-font-weight: $for-link-hover-font-weight !default;

//  Font Variant
//  ##########
$for-footer-font-variant: $for-general-font-variant !default;
$for-footer-link-font-variant: $for-link-font-variant !default;
$for-footer-link-hover-font-variant: $for-link-hover-font-variant !default;

//  Text Decoration
//  ##########
$for-footer-text-decoration: $for-general-text-decoration !default;
$for-footer-link-text-decoration: $for-link-text-decoration !default;
$for-footer-link-hover-text-decoration: $for-link-hover-text-decoration !default;

//  Text Transform
//  ##########
$for-footer-text-transform: $for-general-text-transform !default;
$for-footer-link-text-transform: $for-link-text-transform !default;
$for-footer-link-hover-text-transform: $for-link-hover-text-transform !default;

//  Line Height
//  ##########
$for-footer-line-height: $for-general-line-height !default;
$for-footer-link-line-height: $for-link-line-height !default;

//  Sizing
//  ##########
$for-footer-xlarge-width: 1600px !default;
$for-footer-large-width: 1000px !default;
$for-footer-medium-width: 940px !default;
$for-footer-small-all-width: 100% !default;
$for-footer-small-width: $for-footer-small-all-width !default;
$for-footer-xsmall-width: $for-footer-small-all-width !default;