//  Background
//  ##########
$for-footer-background: $for-color-secondary;

//  Font Color
//  ##########
$for-footer-font-color: $for-global-font-color;
$for-footer-link-font-color: $for-link-font-color;
$for-footer-link-hover-font-color: $for-link-hover-font-color;

//  Font-Size
//  ##########
$for-footer-font-size: $for-global-font-size;
$for-footer-link-font-size: $for-link-font-size;
$for-footer-link-hover-font-size: $for-link-hover-font-size;

//  Font Family
//  ##########
$for-footer-font-family: $for-global-font-family;
$for-footer-link-font-family: $for-link-font-family;
$for-footer-link-hover-font-family: $for-link-hover-font-family;

//  Font Weight
//  ##########
$for-footer-font-weight: $for-font-weight-global;
$for-footer-link-font-weight: $for-link-font-weight;
$for-footer-link-hover-font-weight: $for-link-hover-font-weight;

//  Text Decoration
//  ##########
$for-footer-text-decoration: $for-text-decoration-global;
$for-footer-link-text-decoration: $for-link-text-decoration;
$for-footer-link-hover-text-decoration: $for-link-hover-text-decoration;

//  Line Height
//  ##########
$for-footer-line-height: $for-line-height-global;
$for-footer-link-line-height: $for-link-line-height;
$for-footer-link-line-height-hover: $for-link-line-height-hover;