//  Background
//  ##########
$footer-background: $color-secondary;

//  Font Color
//  ##########
$footer-font-color: $global-font-color;
$footer-link-font-color: $link-font-color;
$footer-link-hover-font-color: $link-hover-font-color;

//  Font-Size
//  ##########
$footer-font-size: $global-font-size;
$footer-link-font-size: $link-font-size;
$footer-link-hover-font-size: $link-hover-font-size;

//  Font Family
//  ##########
$footer-font-family: $global-font-family;
$footer-link-font-family: $link-font-family;
$footer-link-hover-font-family: $link-hover-font-family;

//  Font Weight
//  ##########
$footer-font-weight: $font-weight-global;
$footer-link-font-weight: $link-font-weight;
$footer-link-hover-font-weight: $link-hover-font-weight;

//  Text Decoration
//  ##########
$footer-text-decoration: $text-decoration-global;
$footer-link-text-decoration: $link-text-decoration;
$footer-link-hover-text-decoration: $link-hover-text-decoration;

//  Line Height
//  ##########
$footer-line-height: $line-height-global;
$footer-link-line-height: $link-line-height;
$footer-link-line-height-hover: $link-line-height-hover;