$for-animation-fade-to-opacity: 0.6 !default;
$for-animation-fade-delay: 0s !default;
$for-animation-fade-duration: 0.4s !default;
$for-animation-fade-timing-function: linear !default;

//What should be here too? -mb