@mixin for-transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin for-fade($to-opacity: null, $duration: null, $timing-function: null, $delay: null) {
    @if ($duration) {
        $duration: $duration;
    } @else {
        $duration: $for-animation-fade-duration;
    }
    @if ($timing-function) {
        $timing-function: $timing-function;
    } @else {
        $timing-function: $for-animation-fade-timing-function;
    }
    @if ($delay) {
        $delay: $delay;
    } @else {
        @if ($for-animation-fade-delay > 0) {
            $delay: $for-animation-fade-delay;
        }
    }
    @include for-transition(opacity $duration $timing-function $delay);
    &:hover {
        @if ($to-opacity) {
            $to-opacity: $to-opacity;
        } @else {
            $to-opacity: $for-animation-fade-to-opacity;
        }
        opacity: $to-opacity;
    }
}