////
/// Button: Config
/// ================
/// Button and button and buttons
/// @group Button
/// @author Michael Becker
////

//  Typography
//  ##########

/// @prop {String} $for-button-font-family [$for-general-font-family] - font family for button
$for-button-font-family: $for-general-font-family !default;
/// @prop {Float} $for-button-font-size [$for-general-font-size] - font size for button
$for-button-font-size: $for-general-font-size !default;
/// @prop {Float} $for-button-font-color [$for-general-font-color] - font color for button
$for-button-font-color: $for-general-font-color !default;
/// @prop {Float} $for-button-font-style [$for-general-font-style] - font style for button
$for-button-font-style: $for-general-font-style !default;
/// @prop {Float} $for-button-font-variant [$for-general-font-variant] - font variant for button
$for-button-font-variant: $for-general-font-variant !default;
/// @prop {Float} $for-button-line-height [$for-general-line-height] - line height for button
$for-button-line-height: $for-general-line-height !default;
/// @prop {Float} $for-button-text-decoration [$for-general-text-decoration] - text decoration for button
$for-button-text-decoration: $for-general-text-decoration !default;
/// @prop {Float} $for-button-text-transform [$for-general-text-transform] - text transform for button
$for-button-text-transform: $for-general-text-transform !default;
/// @prop {Float} $for-button-text-align [$for-general-text-align] - text align for button
$for-button-text-align: $for-general-text-align !default;
/// @prop {Float} $for-button-font-weight [$for-general-font-weight] - font weight for button
$for-button-font-weight: $for-general-font-weight !default;

/// @prop {Float} $for-button-hover-font-size [$for-button-font-size] - font size for button:hover
$for-button-hover-font-size: $for-button-font-size !default;
/// @prop {Float} $for-button-hover-font-color [$for-button-font-color] - font color for button:hover
$for-button-hover-font-color: $for-button-font-color !default;
/// @prop {Float} $for-button-hover-font-style [$for-button-font-style] - font style for button:hover
$for-button-hover-font-style: $for-button-font-style !default;
/// @prop {Float} $for-button-hover-font-variant [$for-button-font-variant] - font variant for button:hover
$for-button-hover-font-variant: $for-button-font-variant !default;
/// @prop {Float} $for-button-hover-text-decoration [$for-button-text-decoration] - text decoration for button:hover
$for-button-hover-text-decoration: $for-button-text-decoration !default;
/// @prop {Float} $for-button-hover-text-transform [$for-button-text-transform] - text transform for button:hover
$for-button-hover-text-transform: $for-button-text-transform !default;
/// @prop {Float} $for-button-hover-font-weight [$for-button-font-weight] - font weight for button:hover
$for-button-hover-font-weight: $for-button-font-weight !default;

//  Padding
//  ##########

/// @prop {Float} $for-button-padding [10px] - padding for button
$for-button-padding: 10px !default;

//  Margin
//  ##########

/// @prop {Float} $for-button-margin [0] - margin for button
$for-button-margin: 0 !default;

//  Border
//  ##########

/// @prop {Size} $for-button-border-width [] - border width for button
$for-button-border-width: 0 !default;
/// @prop {String} $for-button-border-style [] - border style for button
$for-button-border-style: solid !default;
/// @prop {String} $for-button-border-color [] - border color for button
$for-button-border-color: transparent !default;
/// @prop {Size} $for-button-border-radius [] - border radius for button
$for-button-border-radius: 0 !default;

/// @prop $for-button-border-top [$for-button-border-width $for-button-border-style $for-button-border-color] - border top for button
$for-button-border-top: $for-button-border-width $for-button-border-style $for-button-border-color !default;
/// @prop $for-button-border-right [$for-button-border-width $for-button-border-style $for-button-border-color] - border right for button
$for-button-border-right: $for-button-border-width $for-button-border-style $for-button-border-color !default;
/// @prop $for-button-border-bottom [$for-button-border-width $for-button-border-style $for-button-border-color] - border bottom for button
$for-button-border-bottom: $for-button-border-width $for-button-border-style $for-button-border-color !default;
/// @prop $for-button-border-left [$for-button-border-width $for-button-border-style $for-button-border-color] - border left for button
$for-button-border-left: $for-button-border-width $for-button-border-style $for-button-border-color !default;

/// @prop {Size} $for-button-border-radius-inner [$for-button-border-radius] - border radius inner, first part within css (before /)
$for-button-border-radius-inner: $for-button-border-radius !default; //first part within css (before /)
/// @prop {Size} $for-button-border-radius-outer [$for-button-border-radius] - border radius inner, second part within css (before /)
$for-button-border-radius-outer: $for-button-border-radius !default; //second part within css (after /)

//  Border Hover
//  ##########

/// @prop $for-button-hover-border-top [$for-button-border-top] - border top for button:hover
$for-button-hover-border-top: $for-button-border-top !default;
/// @prop $for-button-hover-border-right [$for-button-border-right] - border right for button:hover
$for-button-hover-border-right: $for-button-border-right !default;
/// @prop $for-button-hover-border-bottom [$for-button-border-bottom] - border bottom for button:hover
$for-button-hover-border-bottom: $for-button-border-bottom !default;
/// @prop $for-button-hover-border-left [$for-button-border-left] - border left for button:hover
$for-button-hover-border-left: $for-button-border-left !default;

//  Border Radius
//  ##########

/// @prop {Size} $for-button-hover-border-radius [$for-button-border-radius] - border radius for button:hover
$for-button-hover-border-radius: $for-button-border-radius !default;
/// @prop {Size} $for-button-hover-border-radius-inner [$for-button-hover-border-radius] - border radius onner for button:hover
$for-button-hover-border-radius-inner: $for-button-hover-border-radius !default; //first part within css (before /)
/// @prop {Size} $for-button-hover-border-radius-outer [$for-button-hover-border-radius] - border radius outer for button:hover
$for-button-hover-border-radius-outer: $for-button-hover-border-radius !default; //second part within css (after /)

//  Background
//  ##########

/// @prop {Size} $for-button-background [$for-general-color-primary] - background size for button
$for-button-background: $for-general-color-primary !default;
/// @prop {Size} $for-button-background-size [auto] - background color for button
$for-button-background-size: auto !default;
/// @prop {Size} $for-button-hover-background [$for-general-color-secondary] - background color for button:hover
$for-button-hover-background: $for-general-color-secondary !default;
/// @prop {Size} $for-button-hover-background-size [$for-button-background-size] - background size for button:hover
$for-button-hover-background-size: $for-button-background-size !default;