//
//  Here belongs the style and everything for buttons
//
@mixin for-button-base($for-expand: true) {
    @if $for-expand {
        display: block;
        width: 100%;
    } @else {
        display: inline-block;
    }
    font: $for-button-font-style $for-button-font-variant $for-button-font-weight #{$for-button-font-size}/#{$for-button-line-height} $for-button-font-family;
    color: $for-button-font-color;
    
    padding: $for-button-padding-top $for-button-padding-right $for-button-padding-bottom $for-button-padding-left;
    margin: $for-button-margin-top $for-button-margin-right $for-button-margin-bottom $for-button-margin-left;
    
    background: $for-button-background;
    background-size: $for-button-background-size;
    
    text: {
        decoration: $for-button-text-decoration;
        transform: $for-button-text-transform;
        align: $for-button-text-align;
    }
    border: {
        top: $for-button-border-top-width $for-button-border-top-style $for-button-border-top-color;
        right: $for-button-border-right-width $for-button-border-right-style $for-button-border-right-color;
        bottom: $for-button-border-bottom-width $for-button-border-bottom-style $for-button-border-bottom-color;
        left: $for-button-border-left-width $for-button-border-left-style $for-button-border-left-color;
        radius: $for-button-border-top-left-radius-inner $for-button-border-top-right-radius-inner $for-button-border-bottom-right-radius-inner #{$for-button-border-bottom-left-radius-inner} / #{$for-button-border-top-left-radius-left} $for-button-border-top-right-radius-right $for-button-border-bottom-right-radius-right $for-button-border-bottom-left-radius-left;
    }

    &:hover {
        background: $for-button-hover-background;
        background-size: $for-button-hover-background-size;
        font: $for-button-hover-font-style $for-button-hover-font-variant $for-button-hover-font-weight $for-button-hover-font-size;
        color: $for-button-hover-font-color;
        text: {
            decoration: $for-button-hover-text-decoration;
            transform: $for-button-hover-text-transform;
        }
        border: {
            top: $for-button-hover-border-top-width $for-button-hover-border-top-style $for-button-hover-border-top-color;
            right: $for-button-hover-border-right-width $for-button-hover-border-right-style $for-button-hover-border-right-color;
            bottom: $for-button-hover-border-bottom-width $for-button-hover-border-bottom-style $for-button-hover-border-bottom-color;
            left: $for-button-hover-border-left-width $for-button-hover-border-left-style $for-button-hover-border-left-color;
            radius: $for-button-hover-border-top-left-radius-inner $for-button-hover-border-top-right-radius-inner $for-button-hover-border-bottom-right-radius-inner #{$for-button-hover-border-bottom-left-radius-inner} / #{$for-button-hover-border-top-left-radius-left} $for-button-hover-border-top-right-radius-right $for-button-hover-border-bottom-right-radius-right $for-button-hover-border-bottom-left-radius-left;
        }
    }
}

@mixin for-button-normal($for-expand: true) {
    @include for-button-base($for-expand);
}

@mixin for-button-outline($for-expand: true) {
    //TODO
    @include for-button-base($for-expand);
}