////
/// Button: Config
/// ================
/// Button and button and buttons
/// @group Button
/// @author Michael Becker
////

/// Adds the basic styling of a button
/// @param {Bool} $for-expand [true] - if the button should be over the full available width
@mixin for-button-base($for-expand: true) {
    @if $for-expand {
        display: block;
        width: 100%;
    } @else {
        display: inline-block;
    }
    font: $for-button-font-style $for-button-font-weight #{$for-button-font-size}/#{$for-button-line-height} $for-button-font-family;
    font-variant: $for-button-font-variant;
    color: $for-button-font-color;

    padding: $for-button-padding;
    margin: $for-button-margin;

    background: $for-button-background;
    background-size: $for-button-background-size;

    text: {
        decoration: $for-button-text-decoration;
        transform: $for-button-text-transform;
        align: $for-button-text-align;
    }
    border: {
        top: $for-button-border-top;
        right: $for-button-border-right;
        bottom: $for-button-border-bottom;
        left: $for-button-border-left;
        radius: #{$for-button-border-radius-inner} / #{$for-button-border-radius-outer};
    }

    &:hover {
        background: $for-button-hover-background;
        background-size: $for-button-hover-background-size;
        font: $for-button-hover-font-style $for-button-hover-font-weight #{$for-button-hover-font-size}/#{$for-button-line-height} $for-button-font-family;
        font-variant: $for-button-hover-font-variant;
        color: $for-button-hover-font-color;
        text: {
            decoration: $for-button-hover-text-decoration;
            transform: $for-button-hover-text-transform;
        }
        border: {
            top: $for-button-hover-border-top;
            right: $for-button-hover-border-right;
            bottom: $for-button-hover-border-bottom;
            left: $for-button-hover-border-left;
            radius: #{$for-button-hover-border-radius-inner} / #{$for-button-hover-border-radius-outer};
        }
    }
}

@mixin for-button-normal($for-expand: true) {
    @include for-button-base($for-expand);
}

@mixin for-button-outline($for-expand: true) {
    //TODO
    @include for-button-base($for-expand);
}