////
/// @group Base:Align
/// @author Basscss@v8
////

///
.align-baseline {
    vertical-align: baseline
}

///
.align-top {
    vertical-align: top
}

///
.align-middle {
    vertical-align: middle
}

///
.align-bottom {
    vertical-align: bottom
}
