////
/// @group Base:Border
/// @author Basscss@v8
////

///
.border {
    border-style: solid;
    border-width: $base-border-width;
}

///
.border-none {
    border: 0
}

///
.border-none-top {
    border-top: 0
}

///
.border-none-right {
    border-right: 0
}

///
.border-none-bottom {
    border-bottom: 0
}

///
.border-none-left {
    border-left: 0
}

///
.rounded {
    border-radius: $base-border-radius;
}

///
.circle {
    border-radius: 50%
}

///
.not-rounded {
    border-radius: 0
}

///
.rounded-top {
    border-radius: $base-border-radius $base-border-radius 0 0
}

///
.rounded-right {
    border-radius: 0 $base-border-radius $base-border-radius 0
}

///
.rounded-bottom {
    border-radius: 0 0 $base-border-radius $base-border-radius
}

///
.rounded-left {
    border-radius: $base-border-radius 0 0 $base-border-radius
}
