////
/// @group Base:Border
/// @author Basscss@v8
////

///
$base-border-width: 1px !default;
///
$base-border-thick-width: 4px !default;
///
$base-border-radius: 4px !default;
///
$base-border-color: $color-blue-gray-400 !default;

