////
/// @group Base:Cursor
/// @author Michael Becker
////

///
.cursor-pointer {
    cursor: pointer;
}

///
.cursor-help {
    cursor: help;
}

///
.cursor-copy {
    cursor: copy;
}

///
.cursor-copy {
    cursor: copy;
}

///
.cursor-wait {
    cursor: wait;
}

///
.cursor-progress {
    cursor: progress;
}

///
.cursor-not-allowed {
    cursor: not-allowed;
}

///
.cursor-none {
    cursor: none;
}
