////
/// Position Classes
/// @group Base:Position
/// @author Basscss@v8, Michael Becker
////

///
$base-z1: 1 !default;
///
$base-z2: 2 !default;
///
$base-z3: 3 !default;
///
$base-z4: 4 !default;
