////
/// @group Component:Tooltip
/// @author Mustard-UI@v1, Michael Becker
////

///
$tooltip-border-radius: 4px !default;
///
$tooltip-bg-color: $color-gray-800 !default;
///
$tooltip-underline-color: $color-gray-400 !default;
///
$tooltip-z: 9 !default;
