////
/// @group Blockquote
/// @author Mustard-UI@v1, Michael Becker
////

///
$blockquote-bg-color: $color-white !default;
///
$blockquote-border-color: $brand-color !default;
///
$blockquote-border-width: 4px !default;
///
$blockquote-selector: "blockquote" !default;
///
$blockquote-author-selector: ".blockquote-author" !default;
///
$blockquote-author-font-size: 0.875rem !default;

///
#{$blockquote-selector} {
    display: block;
    margin: 0 0 0 space(3);
    padding: 0 0 0 space(4);
    border-left: $blockquote-border-width solid $blockquote-border-color;
    background: $blockquote-bg-color;

    :last-child {
        margin-bottom: 0;
    }
}

///
#{$blockquote-author-selector} {
    margin: 0 0 0 space(3);
    padding: 0 space(4) 0 space(2);
    border-left: $blockquote-border-width solid $blockquote-border-color;
    font-size: $blockquote-author-font-size;
}
