// Backgrounds
// #########################################################
$for-body-background: #ffffff;

//  Basis Coloring
//  #########################################################
$for-color-primary: #b8c802;
$for-color-secondary: #006633;