// Backgrounds
// #########################################################
$for-body-background: #ffffff !default;

//  Basis Coloring
//  #########################################################
$for-general-color-primary: #b8c802 !default;
$for-general-color-secondary: #006633 !default;