////
/// Color: Function
/// ================
/// @group Color
/// @author Michael Becker
////

/// Returns a granular lighted color, uses mix not lighten
/// @param {Color} $color [] - the color which should be lighted
/// @param {Int} $percentage [] - how much the color should be lighted, ergo mixed with $color
@function for-lighten($color, $percentage) {
    @return mix(#fff, $color, $percentage);
}

/// Returns a granular darked color, uses mix not darken
/// @param {Color} $color [] - the color which should be darked
/// @param {Int} $percentage [] - how much the color should be lighted, ergo mixed with $color
@function for-darken($color, $percentage) {
    @return mix(#000, $color, $percentage);
}

/// Generates a grayscale
/// @param {Int} $ident [] - negative values will be dark grayscale, 0 is grayscale-base, positivie is light grayscale
/// @param {Int} $grayscale-qty [$for-grayscale-qty] - how much steps the grayscale should have
/// @param {Color} $grayscale-base [$for-grayscale-base] - what should be the center of the grayscale
@function for-grayscale($ident, $grayscale-qty: $for-grayscale-qty, $grayscale-base: $for-grayscale-base) {
    $calculated-gray: $grayscale-base;

    @if $ident < 0 {
        $calculated-gray: for-darken($grayscale-base, (100 * (($ident * -1)/ ($grayscale-qty / 2))));
    } @else if $ident > 0 {
        $calculated-gray: for-lighten($grayscale-base, (100 * ($ident / ($grayscale-qty / 2))));
    }

    @return $calculated-gray;
}