//  Here belongs the complete styling of containers and parts of the application
//  Don't: 
//      style buttons
//      position the elements
//      width and height the elements
//      typographic
//      resetting style
//      define variables
//      define mixins

body {
    background: $body-background;
}

#header {
    .top {
        @include bp-medium {
            background: $header-background;
            background-size: $header-background-size;
        }
        @include bp-small-complete {
            background: $header-background;
        }
    }
    .bottom {
        @include bp-medium {
        }
    }
}

.sidebar {
    background: $sidebar-background;
    .heading {
        background: $sidebar-heading-background;
    }
}

#sidebar-primary {
    background: $sidebar-primary-background;
}

#sidebar-secondary {
    background: $sidebar-secondary-background;
}

#content {
    .heading {
        background: $product-list-heading-background;
    }
    .list-refine {
        background: $product-list-refine-background;
        #sort-items {
            & > span {
                &:hover {
                    cursor: pointer;
                    .options {
                    }
                }
                .options {
                    list-style: none;
                    background: $color-primary;
                }
            }
        }
        #items-per-page {
            & > span {
                &:hover {
                    cursor: pointer;
                    .options {
                    }
                }
                .options {
                    list-style: none;
                    background: $color-primary;
                }
            }
        }
    }
}

#category-tree {
    ul {
        list-style: none;
        li {
        }
    }
}

#productList {
    list-style: none;
    li {

    }
}

#footer {
    background: $footer-background;
    ul {
        list-style: none;
        li {
        }
    }
}