////
/// Table
/// ================
/// selectors:
/// .for-table
/// .for-table-row
/// .for-table-cell
/// .for-table-cell-head
/// @group Table
/// @author Michael Becker
////

// Background
// ##########

/// @prop {Color} $for-table-background [$for-grayscale-base-p2] - in table
$for-table-background: $for-grayscale-base-p2 !default;
/// @prop {Color} $for-table-cell-head-background [$for-table-background] - in table
$for-table-cell-head-background: $for-table-background !default;
/// @prop {Size} $for-table-background-size [auto] - in table
$for-table-background-size: auto !default;

// Font Color
// ##########

/// @prop {Color} $for-table-font-color [$for-general-font-color] - in table
$for-table-font-color: $for-general-font-color !default;
/// @prop {Color} $for-table-cell-head-font-color [$for-table-font-color] - in table
$for-table-cell-head-font-color: $for-table-font-color !default;
/// @prop {Color} $for-table-link-font-color [$for-link-font-color] - in table
$for-table-link-font-color: $for-link-font-color !default;
/// @prop {Color} $for-table-link-hover-font-color [$for-link-hover-font-color] - in table
$for-table-link-hover-font-color: $for-link-hover-font-color !default;

// Font Size
// ##########

/// @prop {Size} $for-table-font-size [$for-general-font-size] - in table
$for-table-font-size: $for-general-font-size !default;
/// @prop {Size} $for-table-cell-head-font-size [$for-table-font-size] - in table
$for-table-cell-head-font-size: $for-table-font-size !default;
/// @prop {Size} $for-table-link-font-size [$for-link-font-size] - in table
$for-table-link-font-size: $for-link-font-size !default;
/// @prop {Size} $for-table-link-hover-font-size [$for-link-hover-font-size] - in table
$for-table-link-hover-font-size: $for-link-hover-font-size !default;

// Font Style
// ##########

/// @prop {Style} $for-table-font-style [$for-general-font-style] - in table
$for-table-font-style: $for-general-font-style !default;
/// @prop {Style} $for-table-cell-head-font-style [$for-table-font-style] - in table
$for-table-cell-head-font-style: $for-table-font-style !default;
/// @prop {Style} $for-table-link-font-style [$for-link-font-style] - in table
$for-table-link-font-style: $for-link-font-style !default;
/// @prop {Style} $for-table-link-hover-font-style [$for-link-hover-font-style] - in table
$for-table-link-hover-font-style: $for-link-hover-font-style !default;

// Font Family
// ##########

/// @prop {String} $for-table-font-family [$for-general-font-family] - in table
$for-table-font-family: $for-general-font-family !default;
/// @prop {String} $for-table-cell-head-font-family [$for-table-font-family] - in table
$for-table-cell-head-font-family: $for-table-font-family !default;
/// @prop {String} $for-table-link-font-family [$for-link-font-family] - in table
$for-table-link-font-family: $for-link-font-family !default;
/// @prop {String} $for-table-link-hover-font-family [$for-link-hover-font-family] - in table
$for-table-link-hover-font-family: $for-link-hover-font-family !default;

// Font Weight
// ##########

/// @prop {Size} $for-table-font-weight [$for-general-font-weight] - in table
$for-table-font-weight: $for-general-font-weight !default;
/// @prop {Size} $for-table-cell-head-font-weight [$for-table-font-weight] - in table
$for-table-cell-head-font-weight: $for-table-font-weight !default;
/// @prop {Size} $for-table-link-font-weight [$for-link-font-weight] - in table
$for-table-link-font-weight: $for-link-font-weight !default;
/// @prop {Size} $for-table-link-hover-font-weight [$for-link-hover-font-weight] - in table
$for-table-link-hover-font-weight: $for-link-hover-font-weight !default;

// Font Variant
// ##########

/// @prop {String} $for-table-font-variant [$for-general-font-variant] - in table
$for-table-font-variant: $for-general-font-variant !default;
/// @prop {String} $for-table-cell-head-font-variant [$for-table-font-variant] - in table
$for-table-cell-head-font-variant: $for-table-font-variant !default;
/// @prop {String} $for-table-link-font-variant [$for-link-font-variant] - in table
$for-table-link-font-variant: $for-link-font-variant !default;
/// @prop {String} $for-table-link-hover-font-variant [$for-link-hover-font-variant] - in table
$for-table-link-hover-font-variant: $for-link-hover-font-variant !default;

// Text Decoration
// ##########

/// @prop {String} $for-table-text-decoration [$for-general-text-decoration] - in table
$for-table-text-decoration: $for-general-text-decoration !default;
/// @prop {String} $for-table-cell-head-text-decoration [$for-table-text-decoration] - in table
$for-table-cell-head-text-decoration: $for-table-text-decoration !default;
/// @prop {String} $for-table-link-text-decoration [$for-link-text-decoration] - in table
$for-table-link-text-decoration: $for-link-text-decoration !default;
/// @prop {String} $for-table-link-hover-text-decoration [$for-link-hover-text-decoration] - in table
$for-table-link-hover-text-decoration: $for-link-hover-text-decoration !default;

// Text Transform
// ##########

/// @prop {String} $for-table-text-transform [$for-general-text-transform] - in table
$for-table-text-transform: $for-general-text-transform !default;
/// @prop {String} $for-table-cell-head-text-transform [$for-table-text-transform] - in table
$for-table-cell-head-text-transform: $for-table-text-transform !default;
/// @prop {String} $for-table-link-text-transform [$for-link-text-transform] - in table
$for-table-link-text-transform: $for-link-text-transform !default;
/// @prop {String} $for-table-link-hover-text-transform [$for-link-hover-text-transform] - in table
$for-table-link-hover-text-transform: $for-link-hover-text-transform !default;

// Text Align
// ##########

/// @prop {String} $for-table-text-align [$for-general-text-align] - in table
$for-table-text-align: $for-general-text-align !default;
/// @prop {String} $for-table-cell-head-text-align [$for-table-text-align] - in table
$for-table-cell-head-text-align: $for-table-text-align !default;
/// @prop {String} $for-table-link-text-align [$for-link-text-align] - in table
$for-table-link-text-align: $for-link-text-align !default;
/// @prop {String} $for-table-link-hover-text-align [$for-link-hover-text-align] - in table
$for-table-link-hover-text-align: $for-link-hover-text-align !default;

// Line Height
// ##########

/// @prop {String} $for-table-line-height [$for-general-line-height] - in table
$for-table-line-height: $for-general-line-height !default;
/// @prop {String} $for-table-cell-head-line-height [$for-general-line-height] - in table
$for-table-cell-head-line-height: $for-table-line-height !default;
/// @prop {String} $for-table-link-line-height [$for-link-line-height] - in table
$for-table-link-line-height: $for-link-line-height !default;

// Border
// ##########

// Border Table, could be used as outside border when cell*border is set to 0
// #####

/// @prop {Size} $for-table-border-width [0] - border width for table
$for-table-border-width: 0 !default;
/// @prop {Size} $for-table-border-collapse[0] - border collapse for table
$for-table-border-collapse: collapse !default;
/// @prop {String} $for-table-border-style [solid] - border style for table
$for-table-border-style: solid !default;
/// @prop {String} $for-table-border-color [$for-grayscale-base-p1] - border color for table
$for-table-border-color: $for-grayscale-base-p1 !default;
/// @prop {Size} $for-table-border-radius [0] - border radius for table
$for-table-border-radius: 0 !default;

/// @prop $for-table-border-top [$for-table-border-width $for-table-border-style $for-table-border-color] - border top for table
$for-table-border-top: $for-table-border-width $for-table-border-style $for-table-border-color !default;
/// @prop $for-table-border-right [$for-table-border-width $for-table-border-style $for-table-border-color] - border right for table
$for-table-border-right: $for-table-border-width $for-table-border-style $for-table-border-color !default;
/// @prop $for-table-border-bottom [$for-table-border-width $for-table-border-style $for-table-border-color] - border bottom for table
$for-table-border-bottom: $for-table-border-width $for-table-border-style $for-table-border-color !default;
/// @prop $for-table-border-left [$for-table-border-width $for-table-border-style $for-table-border-color] - border left for table
$for-table-border-left: $for-table-border-width $for-table-border-style $for-table-border-color !default;

/// @prop {Size} $for-table-border-radius-inner [$for-table-border-radius] - border radius inner, first part within css (before /)
$for-table-border-radius-inner: $for-table-border-radius !default; //first part within css (before /)
/// @prop {Size} $for-table-border-radius-outer [$for-table-border-radius] - border radius inner, second part within css (before /)
$for-table-border-radius-outer: $for-table-border-radius !default; //second part within css (after /)// Border

// Border Table Cell Heading
// #####

/// @prop {Size} $for-table-cell-head-border-width [$for-table-border-width] - border width for table
$for-table-cell-head-border-width: $for-table-border-width !default;
/// @prop {String} $for-table-cell-head-border-style [$for-table-border-style] - border style for table
$for-table-cell-head-border-style: $for-table-border-style !default;
/// @prop {String} $for-table-cell-head-border-color [$for-table-border-color] - border color for table
$for-table-cell-head-border-color: $for-table-border-color !default;
/// @prop {Size} $for-table-cell-head-border-radius [$for-table-border-radius] - border radius for table
$for-table-cell-head-border-radius: $for-table-border-radius !default;

/// @prop $for-table-cell-head-border-top [$for-table-cell-head-border-width $for-table-cell-head-border-style $for-table-cell-head-border-color] - border top for table
$for-table-cell-head-border-top: $for-table-cell-head-border-width $for-table-cell-head-border-style $for-table-cell-head-border-color !default;
/// @prop $for-table-cell-head-border-right [$for-table-cell-head-border-width $for-table-cell-head-border-style $for-table-cell-head-border-color] - border right for table
$for-table-cell-head-border-right: $for-table-cell-head-border-width $for-table-cell-head-border-style $for-table-cell-head-border-color !default;
/// @prop $for-table-cell-head-border-bottom [$for-table-cell-head-border-width $for-table-cell-head-border-style $for-table-cell-head-border-color] - border bottom for table
$for-table-cell-head-border-bottom: $for-table-cell-head-border-width $for-table-cell-head-border-style $for-table-cell-head-border-color !default;
/// @prop $for-table-cell-head-border-left [$for-table-cell-head-border-width $for-table-cell-head-border-style $for-table-cell-head-border-color] - border left for table
$for-table-cell-head-border-left: $for-table-cell-head-border-width $for-table-cell-head-border-style $for-table-cell-head-border-color !default;

/// @prop {Size} $for-table-cell-head-border-radius-inner [$for-table-border-radius] - border radius inner, first part within css (before /)
$for-table-cell-head-border-radius-inner: $for-table-border-radius !default; //first part within css (before /)
/// @prop {Size} $for-table-cell-head-border-radius-outer [$for-table-border-radius] - border radius inner, second part within css (before /)
$for-table-cell-head-border-radius-outer: $for-table-border-radius !default; //second part within css (after /)

// Border Table Cell
// #####

/// @prop {Size} $for-table-cell-border-width [$for-table-border-width] - border width for table
$for-table-cell-border-width: $for-table-border-width !default;
/// @prop {String} $for-table-cell-border-style [$for-table-border-style] - border style for table
$for-table-cell-border-style: $for-table-border-style !default;
/// @prop {String} $for-table-cell-border-color [$for-table-border-color] - border color for table
$for-table-cell-border-color: $for-table-border-color !default;
/// @prop {Size} $for-table-cell-border-radius [$for-table-border-radius] - border radius for table
$for-table-cell-border-radius: $for-table-border-radius !default;

/// @prop $for-table-cell-border-top [$for-table-cell-border-width $for-table-cell-border-style $for-table-cell-border-color] - border top for table
$for-table-cell-border-top: $for-table-cell-border-width $for-table-cell-border-style $for-table-cell-border-color !default;
/// @prop $for-table-cell-border-right [$for-table-cell-border-width $for-table-cell-border-style $for-table-cell-border-color] - border right for table
$for-table-cell-border-right: $for-table-cell-border-width $for-table-cell-border-style $for-table-cell-border-color !default;
/// @prop $for-table-cell-border-bottom [$for-table-cell-border-width $for-table-cell-border-style $for-table-cell-border-color] - border bottom for table
$for-table-cell-border-bottom: $for-table-cell-border-width $for-table-cell-border-style $for-table-cell-border-color !default;
/// @prop $for-table-cell-border-left [$for-table-cell-border-width $for-table-cell-border-style $for-table-cell-border-color] - border left for table
$for-table-cell-border-left: $for-table-cell-border-width $for-table-cell-border-style $for-table-cell-border-color !default;

/// @prop {Size} $for-table-cell-border-radius-inner [$for-table-border-radius] - border radius inner, first part within css (before /)
$for-table-cell-border-radius-inner: $for-table-border-radius !default; //first part within css (before /)
/// @prop {Size} $for-table-cell-border-radius-outer [$for-table-border-radius] - border radius inner, second part within css (before /)
$for-table-cell-border-radius-outer: $for-table-border-radius !default; //second part within css (after /)

// Cell Padding
// ##########

/// @prop {String} $for-table-cell-padding [8px 5px] - in table
$for-table-cell-padding: 8px 5px !default;
/// @prop {String} $for-table-cell-head-padding [$for-table-cell-padding] - in table
$for-table-cell-head-padding: $for-table-cell-padding !default;

// Table bg striped
// ##########

/// @prop {List} $for-table-bg-striped-row [for-grayscale(7, 15) for-grayscale(6, 15) for-grayscale(5, 15)] - in table
$for-table-bg-striped-row: for-grayscale(7, 15) for-grayscale(6, 15) for-grayscale(5, 15) !default;
/// @prop {List} $for-table-bg-striped-column [null] - in table
$for-table-bg-striped-column: null !default;
/// @prop {List} $for-table-bg-striped-row-selector [tr] - in table
$for-table-bg-striped-row-selector: tr !default;
/// @prop {List} $for-table-bg-striped-column-selector [td] - in table
$for-table-bg-striped-column-selector: td !default;
/// @prop {Color} $for-table-bg-striped-row-hover [td] - in table
$for-table-bg-striped-row-hover: for-grayscale(4, 15) !default;
/// @prop {Color} $for-table-bg-striped-column-hover [td] - in table
$for-table-bg-striped-column-hover: for-grayscale(8, 17) !default;

// Table bg striped
// ##########

/// @prop {Color} $for-table-bg-checkered-color [td] - in table
$for-table-bg-checkered-color: rgba($for-general-color-primary, 0.5) rgba($for-general-color-secondary, 0.5) rgba(red, 0.5) rgba(pink, 0.5);
/// @prop {List} $for-table-bg-checkered-row-selector [tr] - in table
$for-table-bg-checkered-row-selector: tr !default;
/// @prop {List} $for-table-bg-checkered-column-selector [td] - in table
$for-table-bg-checkered-column-selector: td !default;