////
/// @group Table
/// @author Mustard-UI@v1, Michael Becker
////

///
table {
    border-spacing: 0;
    border-collapse: collapse;

    tr {
        border-bottom: $base-border-width solid $table-border-color;
        text-align: left;
    }

    thead {
        th {
            padding: space(1) space(2);
        }
    }

    tbody {
        th,
        td {
            padding: space(1) space(2);
        }
    }
}

///
table.fullwidth {
    width: 100%;
}

///
table.striped {
    tbody tr:nth-child(2n+1) {
        background: $table-bg-cell
    }
}
