$for-output-all: true !default;
$for-output-animation: $for-output-all !default;
$for-output-breakpoint: $for-output-all !default;
$for-output-button: $for-output-all !default;
$for-output-color: $for-output-all !default;
$for-output-form: $for-output-all !default;
$for-output-grid: $for-output-all !default;

$for-output-html-module: $for-output-all !default;
$for-output-html-module-container: $for-output-html-module !default;
$for-output-html-module-content: $for-output-html-module !default;
$for-output-html-module-footer: $for-output-html-module !default;
$for-output-html-module-header: $for-output-html-module !default;
$for-output-html-module-sidebar: $for-output-html-module !default;

$for-output-enhance: $for-output-all !default;
$for-output-enhance-menu: $for-output-enhance !default;
$for-output-enhance-tooltp: $for-output-enhance !default;

$for-output-semantic: $for-output-all !default;
$for-output-semantic-address: $for-output-semantic !default;
$for-output-semantic-article: $for-output-semantic !default;
$for-output-semantic-aside: $for-output-semantic !default;
$for-output-semantic-details: $for-output-semantic !default;
$for-output-semantic-figcaption: $for-output-semantic !default;
$for-output-semantic-figure: $for-output-semantic !default;
$for-output-semantic-footer: $for-output-semantic !default;
$for-output-semantic-header: $for-output-semantic !default;
$for-output-semantic-main: $for-output-semantic !default;
$for-output-semantic-menu: $for-output-semantic !default;
$for-output-semantic-nav: $for-output-semantic !default;
$for-output-semantic-progress: $for-output-semantic !default;
$for-output-semantic-section: $for-output-semantic !default;
$for-output-semantic-summary: $for-output-semantic !default;

$for-output-table: $for-output-all !default;
$for-output-typography: $for-output-all !default;

$for-output-reset: $for-output-all !default;